In [1]:
# 열은 속성, 변수
# 행은 정보, 케이스
import pandas as pd                             # 판다스 호출
df = pd.DataFrame({'name'   : ['김지훈','이유진','박동현','김민지'],
                   'english': [90,8,60,70],
                   'math'   : [50,60,100,20]
})
df                                               # 데이터프레임 정의 및 출력

  name  english  math
0  김지훈       90    50
1  이유진        8    60
2  박동현       60   100
3  김민지       70    20

In [2]:
df['english']                                    # 영어 데이터 출력

0    90
1     8
2    60
3    70
Name: english, dtype: int64

In [3]:
sum(df['english'])                               # 영어데이터 총합

228

In [4]:
sum(df['english'])/4                             # 영어데이터 평균

57.0

In [7]:
df_exam = pd.read_csv('exam.csv')                # CSV파일 불러오기
df_exam
# 만약 헤더를 없애고자 한다면 header = None으로 정의하면 됨
# 시트를 지정해서 부르려면 sheet_name = 'Sheet2'와 같이 정의하면 됨

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [8]:
len(df_exam)                                      # 행 개수 확인하기

20

In [10]:
sum(df_exam['english'])/len(df_exam)             # 행개수로 나눠 평균구하기

84.9

In [12]:
df_exam.to_csv('exam_copy.csv',index = False)   # csv로 저장하기. index = False로 저장해야 인덱스 없이 저장됨

In [ ]:
# 정리
# 데이터프레임 만들기
df = pd.DataFrame({'name'   : ['김지훈','이유진','박동현','김민지'],
                   'english': [90,8,60,70],
                   'math'   : [50,60,100,20]
})
# csv 불러오기
df_exam = pd.read_csv('exam.csv')  
# csv저장하기
df_exam.to_csv('exam_copy.csv',index = False)