In [ ]:
# http://cs231n.stanford.edu/slides/ 스탠포드 대학교의 뉴런 네트워크 교육이다. 231이 과목이다.
# 유튜브에도 영상이 올라가 있다. 
# https://cs231n.github.io/ 스탠포드 대학교 깃허브 강좌이다.

In [ ]:
# 딥러닝 1일차
# 학습에 대한 전반적인 과정에 대해서
# 신경망
# 인간의 뉴런에 자극전달과정에서 아이디어를 착안해서 발생한 머신러닝 알고리즘이다.
# 시냅스를 통해서 다른 뉴런으로부터 자극을 전달받고 시냅스를 통해 다른 뉴런에게 자극을 전달한다.
# 신경망은 자극이 전달되는 과정을 그대로 표현한 알고리즘이다. 인공신경망에는 레이어와 퍼셉트론이 있다. 
# 레이어 = 신경세포 하나 단위, 뉴런 = 퍼셉트론, 시냅스 = 웨이트
# 일반적인 그림으로 네모가 퍼셉트론(뉴런),선을 웨이트(시냅스)라고 한다. 
# 퍼셉트론은 인풋(투입값), 웨이트(시냅스), 변환함수(뉴런 계산), 액티베이션(활성화 함수)으로 구성된다.
# 액티베이션(활성화 함수)은 다음 함수로 전달할 것인가? 말것인가?를 판단하는 역할을 수행한다.
# 액티베이션 함수는 시그모이드, 렐로, 스텝, 탄젠트, 리니어등 여러가지가 존재한다.
# 논문에서 보는 인공신경망 아웃풋은 다음과 같다.
# 만약 n의 숫자가 투입되어서 나온 값이 0보다 크다면 1을 출력하고 아닌경우 -1을 출력한다. 
# 예를 들어 2개가 입력되면 y = w1x1 - w2x2 - w0 라고 표현된다. 
# 이러한 모델을 만드는 법은 분류모델 만들때 쓰던 여러가지 (로지스틱, 의사결정 트리 등)를 활용한다.

In [1]:
# 다중 분류기 : 입력계층과 출력계층 사이에 소프트맥스가 있으면 다중분류기이다.
# 다중분류기에서 출력이 된 값들(로직)이 소프트맥스로 들어가면 확률로 바뀐다. 
# 소프트맥스는 각각의 값들을 확률로 바꿔준다. 가장 높은 확률로 예측을 해주는 것이다.
# 다중분류기에 중간에 히든 레이어를 추가한게 신경망이다.
# 얕은 신경망 : 입력계층과 출력계층 사이의 히든계층이 1개라면 얕은 신경망이다.
# 깊은 신경망 : 입력계층과 출력계층 사이의 히든계층이 2개 이상이라면 신경망이다.
# 신경망은 지도학습에 해당한다.

In [2]:
# 기존에는 입력데이터가 들어오면 바로 분류기로 전달되고 출력되는 케이스였다.
# 시그모이드 함수가 확인해서 0부터 1사이의 값을 가지고 0 또는 1로 출력했다. 기본 분류모델이다. 
# 아웃풋이 더 추가되었다. 
# 히든 레이어의 단위 한개 한개를 노드라고 하고 뉴런이라고도 한다. 
# 신경망은 구조가 다르다. 모든 입력에 대해 모든 노드(뉴런)에 연결된다. 
# 인풋이 3이고 노드가 4개면 12개의 인풋이 들어간다. 
# 그리고 b가 추가되어 인풋과 히든레이어 사이에는 13개의 퍼러미터가 존재한다.
# 아웃풋 노드에는 가중치가 존재한다. 아웃풋에 b가 가중된다. 
# 아웃풋은 시그모이드로 들어가서 0~1사이에서 판단하고 아웃풋을 한다.

In [3]:
# fully connected layers(완전연결신경망)
# 케라스와 텐서플로우로 하는 작업은 레이어에 있는 모든 노드를 연결하는 것이 첫번째다.
# 신경망을 공부하는 목적은 회귀와 분류작업을 위함이다.
# 모델의 성능을 올리기 위해서 여려 노력들이 있다. 그 부분도 수업에서 다룰 것이다.
# 딥러닝은 최근까지 인공지능에 가장 의미있게 발전된 분야이다. 
# 특히 자연어처리나 이미지 인식파트, 게임, 바둑 등 인간의 수준에 근접하거나 능가한 영역들이다.
# 신경망에서는 히든계층이 들어간다. 히든계층의 차이를 알기 위해서는 히든계층이 무엇인지 알아야 한다.

In [4]:
# 기본모양
# 입력값 : g=공부시간, m=몸무게, c=출석일수
# 입력값을 확인하고 시험에 합격할까 불합격할까를 조사하고자 한다.
# 이 데이터 가지고 공부시간과 몸무게와 출석일수가 입력되었을때 시험에 합격하는지를 알아보고자 한다.
# 결과값을 y 라고 기준해보자. 
# g = 5 , m = 60 , c = 10 , y = 합격
# 여기서 어느 요인이 어느정도 중요하냐를 확인하는 것을 가중치라고 한다.
# 상식적으로 g와 c가 합격에 가중치를 많이 두고 m은 가중치가 적을 것이다.
# 공식은 gm + gc + mc + b = h(x)라고 예측값이 나올 것이다. 
# 이후 시그모이드로 전송한다. 0에서 1사이로 출력된다. 
# 이게 가장 기본적인 분류기를 만드는 과정이다.

In [ ]:
# 히든계층
# 히든계층이 있으면 위의 기본모양에서 h(x)가 출력되는 것이 아니다. 
# 히든계층은 일종의 추상화된 특징(feature)이라고 할 수 있다. 
# 히든계층1 : 성실성, 히든계층2 : 근면성, 히든계층3 : 건강, 히든계층4 : 지식
# 성실성은 공부시간, 출석일수가 영향을 받을 것이다.
# 근면성은 출석일수에 영향을 받을 것이다.
# 건강은 몸무게에 영향을 받을 것이다.
# 지식은 공부시간, 출석일수 뿐 아니라 가중치(b)가 존재할 것이다.
# 이 4가지 특징으로 정리가 되었지만 합격, 불합격 요소를 결정하는 것에도 가중치가 다를 것이다.
# 시험으로 기준을 한다면 히든계층 4 - 2 - 1 - 3 순으로 가중치가 설정될 것이다.
# 요소들을 가중시킨 다음 시그모이드에 대입한다.
# 합격이면 1, 불합격이면 0 이렇게 출력될 것이다.
# 신경망을 쓴다는 이야기는 추상화된 특징을 둬서 인풋을 처리한다는 것이다. 
# 물론 머신러닝보다 성능이 더 떨어질 가능성도 존재한다. 그렇다면 어째서 신경망을 쓰는 것인가?

In [ ]:
# 히든계층을 쓰는 이유
# 중간에 히든계층을 두는가? 어떤 경우에 두는가?
# 만약 얼굴을 분류하는 모델을 만든다고 하자. 2차원 구조로 10x10이 있다고 하자.
# 플래트닝(flattening,평탄화)를 시행해서 위에서 아래로 이어서 100개짜리 1줄로 만든다. 
# 1차원 구조의 100차원으로 구성된 선이 만들어졌다. 차원마다 숫자가 다르다. 
# 로지스틱 회귀로 이미지를 분류한다고 해보자. 사람인지 강아지인지 판단하는 모델을 만든다고 하자.
# 이제 인풋은 100개이다. w1x1+ ... w100x100+b가 h(x)일 것이다. 
# 훈련과정을 확인해야 한다. 이 값들에 따라서 시그모이드 결과가 달라진다. b조차도 여기서 매우 중요하다.
# 학습과정은 다음과 같다.
# x1~x100까지는 이미 만들어져있다. 코스트가 가장 낮은 지점을 찾는 법은 머신러닝에서 배웠다.
# 여기서 x를 바꾸는 순간 데이터 조작이다. 가중치인 w와 b가 바뀌어야 한다. 
# x가 100이고 y가 300라고 하자. y = w*x라고 하자.  그러면 w는 3이 되어야 한다. w가 2라면 100만큼 애러가 난다.
# x1 = 100, x2 = 50, y = 300일때 y = x1w1 + x2+w2이다. 문제는 w1는 w2보다 훨씬 큰 영향을 끼친다. 
# w1가 1 변하면 100이 움직이고 w2가 1 변하면 50이 움직인다. 천지차이다. 
# 애러를 줄이기 위해서는 w와 b를 바꿔야 한다. x는 바꿀 수 없다.
# 그래서 미분이 필요하다. w들이 어느정도 영향을 끼치는지 확인해야 하기 때문이다.
# 실제값 y와 예측값 y의 차이점만큼 애러라고 했었다. 
# 여기서 w는 영향력이 각기 다르다. 그래서 w를 돌려보고 각기 어느정도의 영향력을 가졌는지 확인한다. 

# b값을 추가해보자. b는 x에 영향을 받지 않는 가중치이다. 
# x가 100이고 y가 3000이라고 하자. y = w*x+b라고 하자.
# 만약 w가 10이고 b가 500이면 1000+500으로 1500이다. y는 3000이니 1500만큼 애러가 발생했다. 

# 즉 합성함수의 미분이다. 애러에 대해서 각각의 데이터가 끼친 영향력을 보는 것이다.
# 또는 역 방향으로 전파해가면서 업데이트한다고 해서 백프라퍼게이션이(역전파)라고도 한다. 
# 애러가 발생한 만큼 백프라퍼게이션을 하고 웨이트를 바꾼다. 다시 테스트하고 포워드프라퍼게이션(순전파)을 한다. 이걸 반복한다.
# 사람사진 -포워드프라퍼게이션 -  개로 분류(애러) - 백프라퍼게이션(애러수정) - 다시 시도(포워드 프라퍼게이션)
# 이런 식으로 반복하는 것이다. 
# 데이터가 1000개일때 1000개의 데이터를 다 학습하면 1에폭이라고 한다.
# 2에폭은 다시 1000개의 데이터를 읽어서 다 하는 것이다. 
# 이런 식으로 시행착오를 겪으면서 판단한다. 1000에폭은 1000번 반복하는 것이다.
# 즉 수련을 하는 것이다. 이걸 학습이라고 한다.

In [5]:
# batch-size(배치사이즈)
# 배치사이즈가 몇 개의 데이터를 가지고 학습을 하느냐를 말한다. 즉 몇 단위로 한번에 업데이트를 하느냐를 의미한다.
# 즉 배치사이즈가 100이면 100건의 데이터도 한번에 읽어들여서 한번에 연산해버린다. 
# 백프라퍼게이션 다음에도 100건을 읽어서 연산해버린다. 
# 즉 배치사이즈 10은 데이터 1000건을 10개당 1뭉텅이로 해서 100번 계산하는 것이다.
# 데이터가 1000 개라고 하자. 배치사이즈를 3으로 하자. 총 333번을 돌린다. 
# 마지막 남은 1000번째는 1번과 2번을 포함해서 돌아간다.

In [ ]:
# 준비물 : 욜로(교육과정)으로 개인을 인식하는 것을 만들 것이다. 자신의 사진파일을 준비하자.

In [6]:
# 케라스 시퀸셜 클래스
# 입력이 3개라고 하자. 
# 입력 특징 : 공부시간, 과제제출횟수, 출석일수
# 출력 : 시험점수
# 케라스에서 제공하는 딥러닝 프레임웍을 이용해서 점수 예측을 해보자. 
# 입력은 3차원이고 출력은 1차원이다. 
# 속성을 먼저 지정해야 한다.
from tensorflow import keras # 케라스 호출 메모리에 케라스를 적재했다. 
from tensorflow.keras import layers # 케라스 레이어스 호출 케라스 내부에 레이어스를 호출해서 메모리에 적재했다.

In [11]:
model = keras.Sequential([layers.Dense(units=1,input_shape=[3])])#3개의 값이 투입될 것이고 출력차원은 1개다.
# 즉 3개의 차원을 투입해서 1개의 차원으로 반환받는 것이다.
# 시퀸셜은 모듈이다. 히든계층을 중간에 나열한다는 뜻이다.  
# 덴스는 전체 연결을 말한다. fully connected layers(완전연결신경망)을 말한다.
# 
#              덴스
# 입력 ------| 히든
#            | 히든
# 입력 ------|--------- 출력      
#            | 히든
# 입력 ------| 히든

# 사실상 덴스가 히든계층이다. 
# 케라스에서 히든계층을 추가하는 방법은 덴스말고도 여러개가 존재한다.

In [12]:
# 컴퓨터에는 프레임워크라는 용어가 쓰인다. 대체로 딥러닝 프레임워크, 웹 프레임워크같이 앞에 단어가 들어간다.
# 프레임워크는 뼈대를 말한다. 어떠한 일을 처리하기 위한 구조화된 틀을 말한다.
# 맨 바닥에서 집을 짓기보다는 집을 구성하는 기반이 존재한다면 조립하듯이 건물을 지을 수 있을 것이다. 
# 수행하는 작업을 빠르고 안정적이고 쉽고 적은 비용으로 개발할 수 있도록 해주는 라이브러리 집합체이다. 
# 판다스는 데이터 분석 도구이다. 넘파이, 맷플랏립도 도구다. 
# 딥러닝 프레임워크는 딥러닝을 하기 위한 기반을 제시한다. 미분연산도 알아서 제공해준다.
# 만약 이것이 없으면 수학자가 아닌 이상 딥러닝을 다루기 매우 힘들다.
# 텐서플로, 파이토치, 까페, 케라스 등이 있다. 
# 케라스는 텐서플로와 별개였으나 텐서플로로 병합되었다. 텐서플로는 일반인이 다루기 어렵다. 
# 하지만 케라스는 상대적으로 인간친화적이다. 텐서플로를 이용하기 위해 케라스를 사용하는 것이다.

In [13]:
# 딥 뉴럴 네트워크는 복잡한 종류의 데이터를 가지고 관계를 학습할 수 있는 신경망을 구성할 수 있다.
# 복잡한 관계를 모델링해야하는데 이걸 설계하기 위해 단순한 신경망이 아닌 복잡한 신경망이 필요하다.
# 그래서 층으로 이를 나타내게 된다.

In [14]:
# 렐루 
# ReLu = max(0,wx+b)
# 둘 중에 큰 값을 취하라는 뜻이다. 0과 예측모델값을 비교해서 큰 값을 출력하는 것이다.
# 즉 예측모델이 -값을 예측하면 0이 된다. 
# 시그모이드 기호는 원 안에 s자가 있고 렐루는 9시 10분 을 가리키는 모양의 기호로 나온다. 
# 렐루가 신경망에서 어느 위치에서 사용되는지에 대해 설명을 해볼 것이다. 
# 히든계층이 2개의 층 이상이 있다고 생각해보자. 

#              히든1    히든2
# 입력 ------| 히든 --/ 히든
#            | 히든 --/ 히든
# 입력 ------|-히든---/ 히든 ---- 출력      
#            | 히든 --/ 히든
# 입력 ------| 히든 --/ 히든
# 
# 이런 형식으로 배치가 되어있다고 하자.
# 히든1에서 받은 결과는 바로 히든 2로 넘어가지 않는다. 
# 활성화함수는 임계값을 넘어가면 1로 보내고 아니면 0으로 보낸다.
# 히든1 노드들에서 활성화함수를 거쳐서 히든2로 들어간다. 노드마다 전부 활성화함수가 있다.
# 활성화함수가 계산을 마치고 다음으로 넘긴다. 

#              히든1                히든2
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수--|
#            | 히든 --활성화함수--/ 히든--활성화함수--|
# 입력 ------|-히든---활성화함수--/ 히든--활성화함수--|---- 출력(합이 1인 출력값)      
#            | 히든 --활성화함수--/ 히든--활성화함수--|
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수--|
#
# 활성화함수는 0~1사이의 값을 구해서 히든 2로 보내고 히든2에서 다시 활성화함수를 통해 출력절차로 간다. 
# 시그모이드는 중간에서 잘 안쓰고 렐루를 많이 쓴다. 
# 왜냐하면 백프라퍼게이션을 진행해야하기 때문이다. 애러가 발생했을때 역전파를 해서 업데이트를 해야한다.
# 근데 깊은 신경망은 합성함수 같은 형식이다. 오류가 발생했을때 히든1과 히든2의 결과값을 곱해서 오류체크를 한다.
# 문제가 마이너스는 곱셈에 노이즈를 매우 많이 발생시킨다. (vanishing. 소실문제) 
# 시그모이드는 0~1사이이다. 곱해봐야 0~1사이에서 나온다. 
# 처음에는 시그모이드를 쓰다가 딥러닝을 쓰는 순간 학습이 아예 안되는 부작용이 생겼다. 
# 물론 렐루도 단점이 있어서 0 이하의 값은 전부 0으로 처리해서 정밀성이 떨어졌다.
# 그래서 리키렐루가 만들어졌다. 8시 10분을 가리키는 모양의 리키렐루는 음수일때도 학습이 이루어지게 설계되어있다.

In [15]:
#              히든1                히든2
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수|
#            | 히든 --활성화함수--/ ----------------|
#            | -------------------/ 히든--활성화함수|---- 출력      
#            | 히든 --활성화함수--/ ----------------|
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수|

# 이렇게 표현해보자. 
model = keras.Sequential([
layers.Dense(units=4, input_shape=[2], activation='relu'), # 히든으로 출력하는 것이기에 인풋2 출력4이다. 활성함수는 렐루이다.
layers.Dense(units=3, activation='relu'), # 컴퓨터는 똑똑해서 중간값을 생략해도 4가 인풋인걸 알아듣는다.    
layers.Dense(units=1, activation='sigmoid') # 마지막 값은 시그모이드로 출력해보자. 
])

In [16]:
model.summary() #내가 만든 모델의 구조이다. 
# 맨 위의 퍼러미터가 12이다. 2x4로 8개에서 바이어스 변수 4를 더해서 12이다. 
# 두번째 퍼러미터는 4x3+3으로 15개이다. 
# 아웃풋 퍼러미터는 3x1+1이다. 
# 31개의 학습이 필요하다. 그리고 그리고 한개당 4바이트로 퍼러미터가 31개가 나온다.
# gpt4는 억단위의 퍼러미터가 존재한다.

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 4)                 12

 dense_6 (Dense)             (None, 3)                 15

 dense_7 (Dense)             (None, 1)                 4

=================================================================
Total params: 31 (124.00 Byte)
Trainable params: 31 (124.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# 웨이트의 값.
#              히든1                히든2
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수|
#            | 히든 --활성화함수--/ ----------------|
#            | -------------------/ 히든--활성화함수|---- 출력      
#            | 히든 --활성화함수--/ ----------------|
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수|

# 위 그림에서 -로 표시한 것이 웨이트이다. 입력계층과 히든계층과 출력 사이에 --로 표시되어있다.
# 웨이트에 할당하는 값은 랜덤이다.
# 즉 처음에는 아무것도 모르는 상태로 시작한다.
# 처음에는 그냥 랜덤한 값으로 만든 가상의 모델에 지나지 않는다. 하지만 학습을 거듭하면서 굉장히 똑똑해진다. 
# 훈련데이터를 학습하여 모델을 만들것이다. 
# 각각의 데이터는 입력데이터와 출력데이터가 함께 있는 채로 구성되어있을 것이다. 
# 입력에 해당되는 특징과 출력에 해당되는 특징을 값 사이에 식으로 표현하게 될 것이다.
# 그것이 바로 모델이 되는 것이다.
# 훈련의 의미는 x변수(입력변수)로 최종적으로 얻고 싶은 값이 실제값과 유사하도록 만드는 바이오스, 웨이트 조정과정이다.
# 즉 크리크 수정이다. 예측모델을 만든다는 것은 가중치를 조정해서 최적의 가중치를 찾아내는 것이다. 그게 훈련이다.
# 우리의 모델이 최종적으로 훈련이 이루어지기 위해서는 
# 가중치가 입력데이터의 특징들과 출력값 사이에 식으로 잘 표현할 수 있도록 해야한다.

In [18]:
# 좋은 딥러닝 모델이란?
# 좋은 모델의 기준은 코스트 함수로 알 수 있다. 로스함수(손실함수)라고도 한다.
# 로스함수의 값이 가장 작게 나오는 w와 b를 훈련을 통해서 알게 되는 것이다. 
# 가중치를 변경하는 것은 컴퓨터(텐서플로/케라스)가 한다. 
# 딥러닝 프레임워크는 가중치를 바꾸는 법을 알고있다. 우리는 따로 세부적인 옵션만 주면 적절하게 가중치조정을 하게된다.
# 가중치를 변경하는 법은 여러개가 있다. (그레디언트 디센트 알고리즘-기초적인 방법, 아담 옵티마이저-많이 씀, rms prof, momentum 등)
# 알고리즘은 상당히 많이 나오고 있다. 현재에는 아담 옵티마이저가 대세이다. 머신러닝의 랜덤포레스트 포지션이다.
# 그레디언트 디센트 알고리즘은 산에서 하산하는 과정과 비슷하다.
# 경사가 밑으로 내려가는 것을 확인하고 내려가는 쪽으로 천천히 가는 것이다. 
# 최적의 경로로 내려오는 것이 목적이다. 최적의 w와 b를 찾는 것이 목적이다. 
# 정답에 가장 근접한 값을 찾아내기 위해 미분을 사용한다. 
# 옵티마이저도 이와 같다. 하나같이 기울기를 가지고 내려가는 방식으로 수행된다. 
# 반복적으로 훈련하여 조금씩 조금씩 기울기가 낮아지는 방향으로 업데이트 된다.
# 웨이트 수식 업데이트도 코스트의 영향력을 고려해서 업데이트 된다. 그렇게 애러를 최소화하면서 나아간다.

In [19]:
# 테스트를 거듭할수록 기울기와 y절편이 바뀌어간다.
# 점점 시간이 지날수록 0에 가깝게 수렴해간다. 
# 질문 : 잘 수행되었을때 코스트가 크게 나왔을 때 원인은 무엇인가?
# 대답 : 실제값과 예측값이 일치하면 0이다. 이런 경우는 거의 없다. 
# 모델의 주변의 데이터들이 있을 것이다. 완전 선형적인 데이터는 사실상 없다. 
# 선형성이 많이 없다면 코스트가 아무리 많이 떨어져도 더 이상 변화가 없을 수 있다. 그게 최적의 코스트이다.
# 러닝 메이트를 조절해서 학습을 잘 이루어지도록 해야한다. 이래도 코스트가 높다면 낮추긴 힘들다. 
# 미니배치가 이루어지면서 가중치가 업데이트 된다. 
# 아담이 범용적인 옵티마이저이다.

In [92]:
model.compile(optimizer='adam',loss='mae') # 옵티마이저는 아담, 손실함수는 mae(mse나 rmse도 가능)로 설정

In [93]:
import pandas as pd
import numpy as np

In [94]:
# https://archive.ics.uci.edu/dataset/1/abalone
# 전복 데이터이다. 전복을 통해 전복의 성별을 예측하는 데이터셋이다. 
# 지금 만드는 분류기는 다른 분류기를 만들때도 비슷하게 코딩해서 사용 가능할 것이다.
# 범주형 답이면 원핫 인코딩으로 해야 한다. 
# 지금 사용할 데이터는 와인 등급 데이터이다. 
red_wine = pd.read_csv("red-wine.csv")
red_wine

      fixed acidity  volatile acidity  citric acid  residual sugar  ...    pH  sulphates  alcohol  quality
0               7.4             0.700         0.00             1.9  ...  3.51       0.56      9.4        5
1               7.8             0.880         0.00             2.6  ...  3.20       0.68      9.8        5
2               7.8             0.760         0.04             2.3  ...  3.26       0.65      9.8        5
3              11.2             0.280         0.56             1.9  ...  3.16       0.58      9.8        6
4               7.4             0.700         0.00             1.9  ...  3.51       0.56      9.4        5
...             ...               ...          ...             ...  ...   ...        ...      ...      ...
1594            6.2             0.600         0.08             2.0  ...  3.45       0.58     10.5        5
1595            5.9             0.550         0.10             2.2  ...  3.52       0.76     11.2        6
1596            6.3             0.510         0.13             2.3  ...  3.42       0.75     11.0        6
1597            5.9             0.645         0.12             2.0  ...  3.57       0.71     10.2        5
1598            6.0             0.310         0.47             3.6  ...  3.39       0.66     11.0        6

[1599 rows x 12 columns]

In [95]:
# 데이터가 트레인 데이터와 테스트 데이터가 구분되어있지 않다.
red_wine.info() # 결측값이 없이 12개의 데이터가 존재한다. 
# 데이터를 분리하는 작업을 해야한다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [96]:
df_train = red_wine.sample(frac=0.7,random_state=20231031) 
# 우리는 사이킷런에서 트레인테스트 스플릿을 썼지만 여기서는 이렇게 써보도록 하자.

In [97]:
df_train.index # 이 번호를 이용해서 제거해보면 어떨까?

Int64Index([1385, 1504, 1269, 1457,  671,  404, 1327, 1226,  803, 1563,
            ...
            1301,  120,  199,   40, 1052, 1043, 1130,  363,  386, 1008],
           dtype='int64', length=1119)

In [98]:
df_test = red_wine.drop(df_train.index)
df_test

      fixed acidity  volatile acidity  citric acid  residual sugar  ...    pH  sulphates  alcohol  quality
1               7.8             0.880         0.00             2.6  ...  3.20       0.68      9.8        5
9               7.5             0.500         0.36             6.1  ...  3.35       0.80     10.5        5
10              6.7             0.580         0.08             1.8  ...  3.28       0.54      9.2        5
16              8.5             0.280         0.56             1.8  ...  3.30       0.75     10.5        7
17              8.1             0.560         0.28             1.7  ...  3.11       1.28      9.3        5
...             ...               ...          ...             ...  ...   ...        ...      ...      ...
1581            6.2             0.560         0.09             1.7  ...  3.54       0.60     11.3        5
1582            6.1             0.715         0.10             2.6  ...  3.57       0.50     11.9        5
1587            5.8             0.610         0.11             1.8  ...  3.55       0.66     10.9        6
1588            7.2             0.660         0.33             2.5  ...  3.27       0.78     12.8        6
1591            5.4             0.740         0.09             1.7  ...  3.67       0.56     11.6        6

[480 rows x 12 columns]

In [99]:
df_train[:2] # 트레인 데이터 위에 두 개를 가져왔다. 
# 입력은 11개이다. 맨 마지막값은 알코올로 끝에 들어갈 것이다. 
# 히든계층은 그 다음에 설정한다. 노드의 갯수는 우리들 마음대로 하면 된다. 
# 히든계층은 512차원으로해보자. 가중치는 11*512+512가 될 것이다. 
# 이 값들을 다음으로 보내는 것이 아니라 활성화함수를 이용해서 렐루로 연결해야 한다. 
# 아무래도 황산함유가 어느정도인지가 관건으로 보인다.

      fixed acidity  volatile acidity  citric acid  residual sugar  ...    pH  sulphates  alcohol  quality
1385            8.0              0.81         0.25             3.4  ...  3.19       0.42      9.2        5
1504            7.5              0.38         0.57             2.3  ...  3.36       0.55     11.4        6

[2 rows x 12 columns]

In [100]:
# 11개 입력    512개 히든   렐루     512개 히든      512개 히든
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수|히든--활성화함수|
#            | -------------------/ ----------------|----------------|
#            | -------------------/----------------|히든--활성화함수|---- 출력      
#            | -------------------/----------------|----------------|
# 입력 ------| 히든 --활성화함수--/ 히든--활성화함수|히든--활성화함수|

# 설계는 다음과 같이 진행할 것이다. 
# 일반적으로 히든을 부여하는 갯수는 2의 지수값을 부여하는게 일반적이다. (128,256,512 등)
# 원핫 인코딩을 하지 않는다면 출력값이 한개가 나온다. 범주형으로 본다면 종류의 개수만큼 나온다.

In [101]:
max_ = df_train.max()

In [102]:
min_ = df_train.min()

In [103]:
max_-min_ # 최댓값을 아보았다.

fixed acidity            11.00000
volatile acidity          1.21000
citric acid               1.00000
residual sugar           14.60000
chlorides                 0.59900
free sulfur dioxide      71.00000
total sulfur dioxide    283.00000
density                   0.01362
pH                        1.27000
sulphates                 1.67000
alcohol                   5.60000
quality                   5.00000
dtype: float64

In [104]:
df_train-min_ # 최솟값을 일반에 뺐다.

      fixed acidity  volatile acidity  citric acid  residual sugar  ...    pH  sulphates  alcohol  quality
1385            3.4              0.69         0.25             2.5  ...  0.45       0.09      0.8      2.0
1504            2.9              0.26         0.57             1.4  ...  0.62       0.22      3.0      3.0
1269            0.9              0.37         0.03             0.9  ...  0.76       0.49      5.6      5.0
1457            3.0              0.37         0.33             1.0  ...  0.67       0.25      0.6      2.0
671             3.6              0.61         0.21             0.8  ...  0.46       0.19      1.1      2.0
...             ...               ...          ...             ...  ...   ...        ...      ...      ...
1043            4.9              0.27         0.41             8.0  ...  0.55       0.48      2.5      4.0
1130            4.5              0.48         0.00             1.0  ...  0.44       0.30      2.0      3.0
363             7.9              0.34         0.63             1.1  ...  0.25       0.54      1.8      2.0
386             3.2              0.42         0.26             1.1  ...  0.67       0.41      0.8      3.0
1008            4.3              0.23         0.40             2.7  ...  0.49       0.37      3.6      4.0

[1119 rows x 12 columns]

In [105]:
df_train = (df_train-min_)/(max_-min_)
df_test = (df_test-min_)/(max_-min_) # 정규화가 잘 되었다.

In [106]:
df_train

      fixed acidity  volatile acidity  citric acid  residual sugar  ...        pH  sulphates   alcohol  quality
1385       0.309091          0.570248         0.25        0.171233  ...  0.354331   0.053892  0.142857      0.4
1504       0.263636          0.214876         0.57        0.095890  ...  0.488189   0.131737  0.535714      0.6
1269       0.081818          0.305785         0.03        0.061644  ...  0.598425   0.293413  1.000000      1.0
1457       0.272727          0.305785         0.33        0.068493  ...  0.527559   0.149701  0.107143      0.4
671        0.327273          0.504132         0.21        0.054795  ...  0.362205   0.113772  0.196429      0.4
...             ...               ...          ...             ...  ...       ...        ...       ...      ...
1043       0.445455          0.223140         0.41        0.547945  ...  0.433071   0.287425  0.446429      0.8
1130       0.409091          0.396694         0.00        0.068493  ...  0.346457   0.179641  0.357143      0.6
363        0.718182          0.280992         0.63        0.075342  ...  0.196850   0.323353  0.321429      0.4
386        0.290909          0.347107         0.26        0.075342  ...  0.527559   0.245509  0.142857      0.6
1008       0.390909          0.190083         0.40        0.184932  ...  0.385827   0.221557  0.642857      0.8

[1119 rows x 12 columns]

In [107]:
df_test

      fixed acidity  volatile acidity  citric acid  residual sugar  ...        pH  sulphates   alcohol  quality
1          0.290909          0.628099         0.00        0.116438  ...  0.362205   0.209581  0.250000      0.4
9          0.263636          0.314050         0.36        0.356164  ...  0.480315   0.281437  0.375000      0.4
10         0.190909          0.380165         0.08        0.061644  ...  0.425197   0.125749  0.142857      0.4
16         0.354545          0.132231         0.56        0.061644  ...  0.440945   0.251497  0.375000      0.8
17         0.318182          0.363636         0.28        0.054795  ...  0.291339   0.568862  0.160714      0.4
...             ...               ...          ...             ...  ...       ...        ...       ...      ...
1581       0.145455          0.363636         0.09        0.054795  ...  0.629921   0.161677  0.517857      0.4
1582       0.136364          0.491736         0.10        0.116438  ...  0.653543   0.101796  0.625000      0.4
1587       0.109091          0.404959         0.11        0.061644  ...  0.637795   0.197605  0.446429      0.6
1588       0.236364          0.446281         0.33        0.109589  ...  0.417323   0.269461  0.785714      0.6
1591       0.072727          0.512397         0.09        0.054795  ...  0.732283   0.137725  0.571429      0.6

[480 rows x 12 columns]

In [108]:
df_train=df_train.drop('quality',axis=1)
df_test=df_test.drop('quality',axis=1)
# 답지인 퀄리티는 정규화되면 안된다. 다시 답을 불러서 저장할 것이다.

In [109]:
y_test= red_wine['quality'][df_test.index]
y_train= red_wine['quality'][df_train.index]

In [110]:
y_test

1       5
9       5
10      5
16      7
17      5
       ..
1581    5
1582    5
1587    6
1588    6
1591    6
Name: quality, Length: 480, dtype: int64

In [111]:
y_train

1385    5
1504    6
1269    8
1457    5
671     5
       ..
1043    7
1130    6
363     5
386     6
1008    7
Name: quality, Length: 1119, dtype: int64

In [112]:
# 품질을 0부터 10까지 출력해보자.
# 품질이 숫자가 크면 클수록 숫자가 좋은 것이다. 작을수록 품질이 안좋다는 것이다.
# 그렇다면 연속형 값을 출력하도록 설계를 해보면 어떨까?
# https://keras.io/api/layers/core_layers/dense/ 
# https://keras.io/api/models/model_training_apis/
# 덴스 설명서이다. 액티베이션은 입력하지 않으면 리니어가 나올 것이다. 예측값이 그대로 출력될것이다.
# 밑은 모델훈련 설명서이다. 
# 원핫인코딩으로 한다면 액티베이션이 소프트맥스가 되야 한다. 
model=keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=[11]),
    layers.Dense(512, activation='relu'),
    layers.Dense(512, activation='relu'),
    layers.Dense(1)    
])

In [113]:
model.compile(
    optimizer='adam',
    loss='mae',
)

In [114]:
model.fit(
df_train, y_train, epochs=10)
# 배치사이즈는 디폴트가 32이다. 
# 35배치중 35번째 배치를 수행했다는 의미이다. 
# 1배치, 2배치,3배치 등 32개의 데이터를 끌어와서 학습한 것이다. 
# 학습된 결과를 가지고 업데이트를 했다.

Epoch 1/10
35/35 [==============================] - 1s 5ms/step - loss: 1.7436
Epoch 2/10
35/35 [==============================] - 0s 5ms/step - loss: 0.6476
Epoch 3/10
35/35 [==============================] - 0s 5ms/step - loss: 0.6010
Epoch 4/10
35/35 [==============================] - 0s 4ms/step - loss: 0.5760
Epoch 5/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5892
Epoch 6/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5453
Epoch 7/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5197
Epoch 8/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5014
Epoch 9/10
35/35 [==============================] - 0s 5ms/step - loss: 0.4967
Epoch 10/10
35/35 [==============================] - 0s 5ms/step - loss: 0.5139

In [115]:
model.predict(df_test) # 액티베이터가 리니어다. 연속형값으로 나왔다. 
# 모델이 설계가 잘 된거같지는 않다. 원핫인코딩을 통해서 나눠보면 좋을것이다.

15/15 [==============================] - 0s 1ms/step

array([[5.311775 ],
       [5.3441696],
       [4.9431524],
       [5.5912237],
       [5.3290405],
       [5.2836123],
       [5.1716003],
       [4.9348345],
       [5.2276874],
       [5.312408 ],
       [5.2395077],
       [5.120574 ],
       [5.4117746],
       [5.2543726],
       [5.1262608],
       [4.9381237],
       [5.3931246],
       [6.2022696],
       [5.2309227],
       [5.0099063],
       [5.0171914],
       [4.913906 ],
       [5.736575 ],
       [5.736575 ],
       [5.0793285],
       [5.07232  ],
       [5.0273085],
       [5.0136547],
       [5.3489447],
       [5.5068707],
       [5.338335 ],
       [5.2825613],
       [4.945553 ],
       [5.956571 ],
       [6.016046 ],
       [5.052648 ],
       [4.9000425],
       [5.263033 ],
       [5.067542 ],
       [5.4006844],
       [5.099046 ],
       [4.967964 ],
       [5.150282 ],
       [5.195523 ],
       [6.415128 ],
       [5.019774 ],
       [5.348256 ],
       [5.269498 ],
       [7.599578 ],
       [5.3622913],
       [5.3695774],
       [5.041252 ],
       [5.463984 ],
       [5.488874 ],
       [5.5954266],
       [5.190113 ],
       [5.1136713],
       [5.0088897],
       [4.883561 ],
       [5.1075935],
       [4.944426 ],
       [6.1477356],
       [5.898779 ],
       [6.231702 ],
       [6.2190437],
       [6.8593454],
       [5.0990925],
       [5.249703 ],
       [5.281946 ],
       [5.156131 ],
       [5.234207 ],
       [5.3182173],
       [5.6327786],
       [6.080428 ],
       [5.494603 ],
       [5.110451 ],
       [4.7607923],
       [5.059271 ],
       [4.7861905],
       [5.2728143],
       [5.262138 ],
       [5.5880866],
       [5.088562 ],
       [5.96043  ],
       [5.712989 ],
       [5.5911207],
       [5.816573 ],
       [6.255325 ],
       [5.5457597],
       [5.582675 ],
       [5.798114 ],
       [5.0949993],
       [5.6289434],
       [5.838937 ],
       [5.9636283],
       [5.6364384],
       [4.9735956],
       [4.943704 ],
       [5.0753984],
       [5.8765206],
       [5.9736347],
       [5.1730785],
       [5.4001245],
       [6.1548243],
       [6.4340634],
       [6.497702 ],
       [6.390877 ],
       [6.85826  ],
       [6.64322  ],
       [6.8199954],
       [5.9073706],
       [5.191305 ],
       [5.530725 ],
       [5.3069534],
       [6.2248707],
       [5.953154 ],
       [5.3887625],
       [5.1777997],
       [4.9405613],
       [6.35841  ],
       [5.649919 ],
       [5.6990023],
       [6.3264112],
       [5.0016212],
       [5.9794965],
       [5.159362 ],
       [6.3609676],
       [5.2596865],
       [5.4572315],
       [4.9047184],
       [5.4478974],
       [6.225622 ],
       [5.2353134],
       [5.4171453],
       [5.7713394],
       [6.6400275],
       [5.358714 ],
       [5.243616 ],
       [5.455807 ],
       [6.0223413],
       [7.7201567],
       [5.834541 ],
       [6.0340033],
       [5.7454724],
       [5.5783205],
       [5.400425 ],
       [6.829076 ],
       [5.754925 ],
       [5.591151 ],
       [7.6256495],
       [5.952816 ],
       [5.955611 ],
       [5.7726316],
       [5.176967 ],
       [6.618576 ],
       [6.666492 ],
       [6.570358 ],
       [5.381049 ],
       [6.0956326],
       [5.146536 ],
       [5.9901943],
       [5.721393 ],
       [5.986677 ],
       [5.0852222],
       [5.7326326],
       [5.4859676],
       [6.127641 ],
       [5.255844 ],
       [5.512508 ],
       [5.458154 ],
       [5.680395 ],
       [5.3161035],
       [6.150573 ],
       [5.554854 ],
       [5.7844296],
       [5.8152933],
       [5.159094 ],
       [5.159094 ],
       [5.016593 ],
       [4.811161 ],
       [4.858051 ],
       [6.7015023],
       [5.463526 ],
       [6.38934  ],
       [5.5124683],
       [5.942131 ],
       [4.9028196],
       [4.98188  ],
       [5.0066032],
       [5.1833234],
       [5.397915 ],
       [5.3051815],
       [5.3051815],
       [5.4034886],
       [5.532856 ],
       [6.0569158],
       [5.5967007],
       [8.420401 ],
       [4.6971235],
       [5.0631747],
       [5.57706  ],
       [5.2152433],
       [5.2473226],
       [5.358629 ],
       [5.358629 ],
       [5.3900003],
       [4.8557005],
       [5.297097 ],
       [5.5221376],
       [5.4908605],
       [5.3275223],
       [5.4869328],
       [4.9354   ],
       [5.010576 ],
       [5.777038 ],
       [5.1638393],
       [5.5261455],
       [5.1108994],
       [5.1108994],
       [5.8700285],
       [5.2579684],
       [5.411623 ],
       [5.26628  ],
       [5.3829036],
       [5.333819 ],
       [5.2402363],
       [4.8415422],
       [5.194474 ],
       [5.0432453],
       [5.0432453],
       [5.1239653],
       [4.8506536],
       [5.1388083],
       [5.0293446],
       [5.5686617],
       [5.5935445],
       [4.995076 ],
       [5.249584 ],
       [5.2773204],
       [7.2083855],
       [5.345412 ],
       [6.014605 ],
       [6.1385417],
       [6.879955 ],
       [4.9415154],
       [7.300196 ],
       [5.1862116],
       [6.1591506],
       [7.1025615],
       [6.1232557],
       [5.9157743],
       [6.6172056],
       [5.7099767],
       [4.98709  ],
       [6.1820655],
       [5.3867674],
       [5.3867674],
       [6.2469068],
       [5.130849 ],
       [5.049035 ],
       [5.1176596],
       [6.3755217],
       [6.755247 ],
       [5.471801 ],
       [5.232584 ],
       [5.9072633],
       [6.61541  ],
       [5.523802 ],
       [6.818639 ],
       [6.3403616],
       [6.0740547],
       [5.805534 ],
       [5.5279346],
       [5.5279346],
       [7.088972 ],
       [5.2172337],
       [6.898561 ],
       [6.8176026],
       [6.9617877],
       [6.2697105],
       [6.292923 ],
       [6.248912 ],
       [6.248912 ],
       [4.8387756],
       [5.4129333],
       [6.418401 ],
       [5.8380675],
       [5.8380675],
       [5.851571 ],
       [6.181196 ],
       [5.1410933],
       [5.1978493],
       [5.884785 ],
       [5.1978493],
       [6.1152697],
       [4.649151 ],
       [6.4274836],
       [6.7872477],
       [6.7872477],
       [5.847169 ],
       [6.7138596],
       [5.6844087],
       [7.017832 ],
       [7.0569124],
       [6.2829933],
       [5.5301666],
       [5.8007283],
       [5.7818756],
       [6.0392838],
       [7.0002985],
       [5.414631 ],
       [6.3660884],
       [6.1065226],
       [4.7732525],
       [6.1874294],
       [4.7639894],
       [6.1874294],
       [6.8330097],
       [6.1812806],
       [6.0476303],
       [6.4010506],
       [5.5061817],
       [5.9565396],
       [5.7347565],
       [6.173125 ],
       [6.916584 ],
       [5.1330967],
       [4.990878 ],
       [7.167321 ],
       [6.9507303],
       [5.9233155],
       [6.7808814],
       [4.8431487],
       [5.7050834],
       [6.115782 ],
       [5.936203 ],
       [6.120719 ],
       [5.9295177],
       [6.2246103],
       [5.878677 ],
       [5.220002 ],
       [7.8678145],
       [5.984401 ],
       [6.4236293],
       [6.209323 ],
       [5.115711 ],
       [6.012597 ],
       [5.8745008],
       [5.969102 ],
       [6.351567 ],
       [7.185582 ],
       [6.2774506],
       [6.052333 ],
       [6.5400186],
       [6.853651 ],
       [6.122491 ],
       [5.2715054],
       [5.589713 ],
       [5.83027  ],
       [6.0737867],
       [6.7169924],
       [6.2935305],
       [5.5272365],
       [5.9566817],
       [5.5272365],
       [4.8858147],
       [6.3628016],
       [5.1707716],
       [5.2975097],
       [6.1814184],
       [5.583013 ],
       [5.1035852],
       [6.7005696],
       [4.858517 ],
       [7.070896 ],
       [6.612358 ],
       [5.062147 ],
       [5.88482  ],
       [6.196213 ],
       [6.0086136],
       [5.3260975],
       [5.428827 ],
       [6.1006904],
       [5.374879 ],
       [5.0814037],
       [5.6871524],
       [5.2390866],
       [7.475012 ],
       [5.9150496],
       [5.6733503],
       [6.7500925],
       [6.175252 ],
       [6.585782 ],
       [5.0059185],
       [6.0109735],
       [5.022064 ],
       [6.0936093],
       [4.5066004],
       [5.339355 ],
       [6.609332 ],
       [6.3152113],
       [5.746703 ],
       [5.1346397],
       [4.9212346],
       [5.620927 ],
       [5.4176297],
       [5.6265793],
       [5.300417 ],
       [5.2970057],
       [5.234861 ],
       [5.968711 ],
       [5.689348 ],
       [5.1973944],
       [5.008087 ],
       [5.0144143],
       [5.176578 ],
       [6.671772 ],
       [5.4663115],
       [5.0376186],
       [5.3136044],
       [5.2565565],
       [6.408454 ],
       [5.0949564],
       [5.3747673],
       [6.0733547],
       [6.538158 ],
       [6.104656 ],
       [5.2072363],
       [5.7994547],
       [5.5316086],
       [6.710432 ],
       [5.1894684],
       [6.446492 ],
       [5.6615868],
       [5.090873 ],
       [6.5880136],
       [5.186772 ],
       [5.8988023],
       [5.826985 ],
       [4.8278546],
       [6.22851  ],
       [5.8285275],
       [5.3143644],
       [5.4029617],
       [5.555537 ],
       [5.308671 ],
       [5.270462 ],
       [5.308671 ],
       [5.0124207],
       [5.6167965],
       [5.4977694],
       [7.3779306],
       [5.7834816],
       [5.8507986],
       [5.6131086],
       [5.8035154],
       [5.1293173],
       [4.925952 ],
       [5.8935366],
       [5.803249 ],
       [5.4906864],
       [5.556136 ],
       [5.0200567],
       [5.375833 ],
       [5.9483967],
       [5.445883 ],
       [5.5045886],
       [5.597227 ],
       [5.4547377],
       [5.272848 ],
       [6.1546984],
       [7.193762 ],
       [5.659849 ],
       [6.102563 ],
       [6.3700767],
       [6.009593 ],
       [5.5519953],
       [5.787661 ],
       [6.7080107],
       [5.548296 ]], dtype=float32)

In [116]:
model=keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=[11]),
    layers.Dense(512, activation='relu'),
    layers.Dense(512, activation='relu'),
    layers.Dense(11, activation='softmax') #이러면 11개로 나올 것이다.     
])
model.compile(
    optimizer='adam',
    loss='mae',
)

In [118]:
model.fit(
df_train, y_train, epochs=10) # 원핫인코딩이 안되면 다음과 같은 참사가 발생한다.

Epoch 1/10
35/35 [==============================] - 1s 5ms/step - loss: 5.5257
Epoch 2/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 3/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 4/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 5/10
35/35 [==============================] - 0s 4ms/step - loss: 5.5257
Epoch 6/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 7/10
35/35 [==============================] - 0s 4ms/step - loss: 5.5257
Epoch 8/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 9/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 10/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257

In [120]:
from sklearn.preprocessing import OneHotEncoder # 원핫인코더를 불러보자.

In [122]:
ohe = OneHotEncoder() # 원핫인코더를 실행해보자.

SyntaxError: invalid syntax (1046850960.py, line 1)

In [123]:
y_test_ohe = ohe.fit_transform([y_test])

In [128]:
pd.get_dummies(red_wine['quality']) # 차라리 이게 낫긴 하네..

      3  4  5  6  7  8
0     0  0  1  0  0  0
1     0  0  1  0  0  0
2     0  0  1  0  0  0
3     0  0  0  1  0  0
4     0  0  1  0  0  0
...  .. .. .. .. .. ..
1594  0  0  1  0  0  0
1595  0  0  0  1  0  0
1596  0  0  0  1  0  0
1597  0  0  1  0  0  0
1598  0  0  0  1  0  0

[1599 rows x 6 columns]

In [129]:
# 이 상태가 정답이다. 소프트맥스를 사용하면 6개의 분류기를 사용하게 될 것이다.
# 각 등급에 대한 확률이 나올 것이다.
# 정리
# 시퀸셜 함수를 이용해서 모델을 생성할 수 있다. 
# 인풋셰입은 투입값을 지정한다. 유닛은 나오는 값을 지정한다.
# 옵티마이저는 아담을 주로 사용한다. 
# 훈련데이터와 테스트데이터로 나눠서 수행한다.

In [130]:
df = pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction  Age  Outcome
0              6      148             72             35        0  33.6                     0.627   50        1
1              1       85             66             29        0  26.6                     0.351   31        0
2              8      183             64              0        0  23.3                     0.672   32        1
3              1       89             66             23       94  28.1                     0.167   21        0
4              0      137             40             35      168  43.1                     2.288   33        1
..           ...      ...            ...            ...      ...   ...                       ...  ...      ...
763           10      101             76             48      180  32.9                     0.171   63        0
764            2      122             70             27        0  36.8                     0.340   27        0
765            5      121             72             23      112  26.2                     0.245   30        0
766            1      126             60              0        0  30.1                     0.349   47        1
767            1       93             70             31        0  30.4                     0.315   23        0

[768 rows x 9 columns]

In [132]:
from tensorflow.keras.models import Sequential # 시퀸셜도 바로 쓰자. 
from tensorflow.keras.layers import Dense # 걍 덴스를 바로 쓰자.

In [131]:
# 오랜만에 사용한다. 당뇨병 데이터이다.
# 이진분류를 할 때에는 시그모이드를 사용한다.
x = df.iloc[:,0:8] # 훈련데이터다.
y = df.iloc[:,8] # 테스트데이터이다.

In [133]:
model = Sequential()

In [134]:
model.add(Dense(12,input_dim=8,activation='relu')) # dim은 바로 숫자를 쓰게 해준다. 
model.add(Dense(8,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [135]:
model.summary()
# 8 x 12 + 12 = 108 이건 이해갈 것이다.

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 12)                108

 dense_25 (Dense)            (None, 8)                 104

 dense_26 (Dense)            (None, 1)                 9

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [136]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [137]:
model.fit(x,y,epochs=10,batch_size=5)
# 정확도는 68%이다. 아직은 만족스럽진 않다.

Epoch 1/10
154/154 [==============================] - 1s 1ms/step - loss: 5.2680 - accuracy: 0.4622
Epoch 2/10
154/154 [==============================] - 0s 1ms/step - loss: 1.8977 - accuracy: 0.5391
Epoch 3/10
154/154 [==============================] - 0s 1ms/step - loss: 1.0315 - accuracy: 0.6055
Epoch 4/10
154/154 [==============================] - 0s 1ms/step - loss: 0.8327 - accuracy: 0.6628
Epoch 5/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7772 - accuracy: 0.6549
Epoch 6/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7309 - accuracy: 0.6628
Epoch 7/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6966 - accuracy: 0.6732
Epoch 8/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6503 - accuracy: 0.6992
Epoch 9/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6405 - accuracy: 0.6797
Epoch 10/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6304 - accuracy: 0.6836

In [138]:
df = pd.read_csv('iris3.csv')
df # 종을 찾는 것은 소프트맥스를 사용하면 될 것이다.

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [139]:
x = df.iloc[:,0:4]
y = df.iloc[:,4]

In [140]:
y = pd.get_dummies(y)
y # 순서가 없는 데이터타입의 경우에는 원핫인코딩이 편하다.

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [142]:
model=Sequential()

In [143]:
model.add(Dense(16,input_dim=4,activation='relu')) # 4개의 차원을 투입해야 한다.
model.add(Dense(8,activation='relu')) 
model.add(Dense(3,activation='sigmoid'))

In [145]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [146]:
model.fit(x,y,epochs=40,batch_size=5) # 정확도가 96%에서 98%가량 나온다. 정확도가 나쁘진 않다.

Epoch 1/40
30/30 [==============================] - 1s 1ms/step - loss: 1.0134 - accuracy: 0.4400
Epoch 2/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8182 - accuracy: 0.6667
Epoch 3/40
30/30 [==============================] - 0s 1ms/step - loss: 0.7407 - accuracy: 0.7600
Epoch 4/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6913 - accuracy: 0.9200
Epoch 5/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6468 - accuracy: 0.9067
Epoch 6/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6064 - accuracy: 0.8467
Epoch 7/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5699 - accuracy: 0.9067
Epoch 8/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5400 - accuracy: 0.8800
Epoch 9/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5131 - accuracy: 0.9467
Epoch 10/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4879 - accuracy: 0.9267
Epoch 11/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4688 - accuracy: 0.9000
Epoch 12/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4528 - accuracy: 0.9267
Epoch 13/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4291 - accuracy: 0.9467
Epoch 14/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4154 - accuracy: 0.9600
Epoch 15/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3943 - accuracy: 0.9733
Epoch 16/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3828 - accuracy: 0.9400
Epoch 17/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3632 - accuracy: 0.9333
Epoch 18/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.9733
Epoch 19/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.9733
Epoch 20/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3202 - accuracy: 0.9600
Epoch 21/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3032 - accuracy: 0.9667
Epoch 22/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2909 - accuracy: 0.9533
Epoch 23/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2762 - accuracy: 0.9733
Epoch 24/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2633 - accuracy: 0.9800
Epoch 25/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2491 - accuracy: 0.9800
Epoch 26/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2389 - accuracy: 0.9733
Epoch 27/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2270 - accuracy: 0.9867
Epoch 28/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2155 - accuracy: 0.9733
Epoch 29/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2050 - accuracy: 0.9733
Epoch 30/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1980 - accuracy: 0.9733
Epoch 31/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1887 - accuracy: 0.9800
Epoch 32/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1796 - accuracy: 0.9800
Epoch 33/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1702 - accuracy: 0.9733
Epoch 34/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1729 - accuracy: 0.9600
Epoch 35/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1604 - accuracy: 0.9800
Epoch 36/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1525 - accuracy: 0.9800
Epoch 37/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1487 - accuracy: 0.9733
Epoch 38/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1440 - accuracy: 0.9800
Epoch 39/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1470 - accuracy: 0.9600
Epoch 40/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1381 - accuracy: 0.9667

In [148]:
# 만약 한개의 데이터를 제공하고 정답을 받고자 한다면?
model.predict(np.array([[5.9,3.0,5.1,1.8]])) # 각각의 확률을 출력하고 최고확률을 답으로 출력한다.

1/1 [==============================] - 0s 43ms/step

array([[8.5919234e-04, 7.4841416e-01, 9.1932940e-01]], dtype=float32)

In [149]:
np.argmax([8.5919234e-04, 7.4841416e-01, 9.1932940e-01])# 2번 인덱스의 요소가 정답인 것이다.

2

In [ ]:
# 내일은 업데이트 요령을 직접 구현할 것이다. 
# 딥러닝은 공부를 빠르게 진행할 것이다. 프로젝트도 해야 한다. 
# CNN,RNN도 다룬다. 딥러닝의 꽃은 RNN이다. 
# 자신의 사진을 촬용하자.
# 본인얼굴
# 배경
# 전경 얼굴, 강아지, 고양이, 동물, 다른 사람 사진 싹 다 끌어보자. 
# 자전거, 노트북같은 사진들도 포함하자. 
# 이제 아예 내 이름이 나오게 할 것이다. 
# 내일까지 딥러닝 기본은 끝날 것이다. 딥러닝에서 중요한 것은 정해져있다.
# 목요일 cnn, 금요일 욜로가 진행될 것이다. 다음주는 rnn(텍스트)를 할 것이다.
# 노가다가 많이 필요하다. 여러장의 사진을 준비하고 나를 알아보는지 확인하는 것이다. 
# 모델에다가 집어넣고 나와 일치하는지 확인하는 것이다. 10장정도는 준비하자.