In [ ]:
# knn regressor를 사용해보자. 
# knn알고리즘은 동일하다. 다만 regressor는 다른 점이 있다.예측 방향이 다르다. 원리 자체는 같다.
# 어제의 분류는 이진분류를 수행하였다. 클래스가 여러개가 있더라도 분류가 가능하다. 다중분류 또한 knn으로 할 수 있다.
# k-means++, h-clustering, DBSCAN 수업예정이다.
# 미국 5만명 청소년이 sns 상에서 친구들과 주고받은 대화 중 빈도수가 높은 단어를 가지고 클러스터링 및 해석 실습을 해보자.

In [ ]:
# 클러스터링(군집화)은 클러스터(군집)를 생성하는 작업을 말한다. 유사한 데이터끼리 묶는 것이다.
# 데이터에 레이블이 없다는 특징이 있다. 예시로 뉴스기사도 레이블이 없다.  
# 정답은 따로 분류되어있지 않다. 다만 유사한 것과 묶는 것은 시도할 수 있다.
# 뉴스기사(데이터)는 레이블이 따로 없으므로 레이블을 만드는 방식으로 따로 학습하는 것이다.

In [1]:
# 비지도학습 
# 레이블이 없는 데이터에서 특징 파악을 통해 일정한 규칙을 찾아내는 머신러닝 기법이다.
# 비지도학습으로 정답을 주지 않고 시작한다. 
# knn알고리즘은 정답을 주고 판단했다. 이번에는 정답을 주지 않고 학습을 할 것이다.
# 유사한 데이터를 묶는 작업을 하는 것도 비지도 학습이라고 할 수 있다.
# 뉴스, 사진, 음악별로 묶는 것도 이에 해당된다.

In [2]:
# 군집 알고리즘 종류
# 1. K평균 군집화 
# 2. 계층적 군집화 
# 3. DBSCAN

In [3]:
# K평균 군집화 
# 가장 많이 사용하는 군집화 방법이다.
# k값을 설정하고 중심을 설정한다 -> 데이터의 클러스터를 결정한다. -> 클러스터 내 중심을 이동한다.. -> 중심이 변경되지 않을때까지 2,3단계를 반복한다.
# 엘보우 그래프를 그리면 최적의 k값을 알아낼 수 있다. 군집의 중심점과 군집에 속하 데이터사이의 거리에 해당하는 k값을 최적의 k값으로 본다. 
# 좋은 군집화 결과의 의미는 군집과 군집사이의 거리는 멀리 떨어지고 같은 군집의 데이터끼리는 거리가 좁아야 한다.
# 우리는 군집화가 잘 되어있기를 원한다. 
# 먼저 중심점을 정한 이후 모든 데이터들과의 거리를 전부 구한다. 
# 거리를 구할 때 유클리드 사용하게된다.
# 주의점은 모든 데이터의 거리를 구할 경우 정규화/표준화작업을 먼저 진행하고 해야 한다. 
# 클러스터의 중심점이 이동을 하지만 클러스터의 평균 점의 위치를 알아내게 되어 알아내게 된다. 
# 중심점이 변경되지 않을때까지 계속 반복될 것이다. 평균값으로 중심점을 계속서 추가하는 것이다. 
# 초기에 k개만큼의 중심설정이 나오자마자 전체 결과에서도 매우 중요하다. 
# 또한 위치 또한 중요하다. K값의 지정이 매우 중요하다.

In [4]:
# k값과 최초 중심설정은 무작위적,직접 설정하기(이건 시각화를 해 봐야한다. kmeans(어재까지 사용한 자료이다. )
# kmeans++은 임의의 점을 스스로 선태까능하다.
# 표면상의 위치에서 가장 멀리떨진 곳을 찾는다. 
# 데이터 점과 가장 멀리떨어진 중심점을 찾는다. 
# 무작위로 알고리즘을 설정한 다음에 무작위로 클러스터 중심으로 정한다. 
# 그리고 데이터를 가장 가까운 클러스터로 결정한다. 
# 간단한 알고리즘으로 구현하는게 용이하다는 장점이 있으며 속도가 빠르다.
# 초기 클러스터의 개수와 중심에 따라 결과가 크게 달라지는 단점이 존재하며 결과해석의 결과는 제각각이다. 
# 엘보우 그래프를 통해 적절한 k값을 찾거나 차원축소를 해야한다.

In [5]:
# 계층별 군집화 (h-clustering)
# 계층적 트리모형을 이용하여 개별 개체들을 순차적, 계층적으로 우사한 그롭과 통합하여 군집화를 수행하는 알고리즘이다.
# 군집간의 거리를 기반으로 군집화를 수행한다. 
# 마치 나무뿌리처럼 생겼다고 해서 덴드로그램이라고 한다. 
# 위쪽에 하나의 군집이 있고 밑으로 내려갈수록 군집이 많아진다.
# 군집의 갯수를 처음에 정할 필요가 없다. 군집도를 보고 선택하면 된다. 
# 순차적, 계층적으로 유사한 데이터들을 합치면서 나아가는 군집화 방법이다.
# 군집간의 거리를 계산할때 유클리드 측정을 하는데 만약 점이 여러개일때 어떤 점을 기준으로 하느냐가 의문일 것이다.
# 가장 가까운 단일기준결합방식, 가장 먼 완전기준결합방식,평균기준 결합방식
# 단일기준결합방식은 가장 가깝고 완전기준결하방식은 가장 멀다. 
# 시간이 걸리고 성능이중요하다면 현재가 훨씬 더 효율량에서 앞선다. 
# 데이터를 직접 선택하는 특성상 적정한 수준의 군집의 갯수를 설정하면 된다.

In [6]:
# DBSCAN
# 공간클러스팅을 기반으로 데이터를 나누는데 
# 밀도를 계산하기 위해서는 점이 많이 모인 쪽이 정보가 많다고 판단하고 클러스터링을 한다.
# 두 개 이상의 파일은 서로 젼혀 다른 파일이다.
# 반경 안에 들어가야할 점의 갓수를 지정하는 경우가 많다.
# 반경 엡실론 이내에 점의 갯수가 사전에 설정된 갯수만큼 있을 때 군집으로 보게 된다. 
# 그 중심이 되는 점을 코어포인트라고 부른다. 
# 기준점으로부터 반경을 엡실론(반경, 반지름)이라고 한다. 그리고 가운데 점을 코어포인트라고 한다. 
# 어떠한 점은 코어포인트가 될 수 있고 어떠한 점은 코어포인트로서 적합하지 않다. 
# 설정을 mmpts = 4로 하면 minimum mean points를 의미한다. 반경 이내에 점이 3개 이하라면 이것은 corepoints라고 할 수 없다. 
# 다만 군집의 중심점이 될 수 없더라도 다른 군집에서 데이터포인트가 될 수 있다. 이것을 경계점(border points이라고 한다. 
# 다른 코어 포인트가 포함되어져 있는 경우가 존재한다. 이런 경우는 군집이 합쳐지는 경우이다. 
# 군집포인트가 합쳐진 경우인 것이다. 
# 혼자 떨어진 존재는 노이즈, 아웃라이어(극단치)라고 부른다. 
# 즉 노이즈를 찾는데 상당히 유용하다.
# 포인트를 데이터라고 해석하면 된다.

In [7]:
# 밀집기반
# 비선형구조로 되어있을 경우 구분이 어렵다. 이런 상황에서 DB스캔을 사용하는 것이다.
# 데이터가 가까우면 같은 클러스터화된다. 데이터가 멀면 독립 클러스터로 정해진다.
# 그림을 식별하는 원리는 이와 같은 것이다. 반경이 적당해야 하고 데이터 수도 적당해야 한다. 너무 작게하면 뭉쳐버리고 크게하면 흩어진다. 
# 하이퍼파라미터는 mean과 epsilon을 직접 지정해야 한다.

In [8]:
# knn regressor 에 대한 설명
# 리그레서는 상당수의 머신러닝 알고리즘에서 가지고 있다. 
# knn에서 regressor가 있고 classifrer가 있다.

In [9]:
# 회귀 알고리즘
# 연속형 값을 예측하는 알고리즘이다.
# 우리는 knn알고리즘을 공부했었다. 특정 반경 내의 데이터로 현 데이터를 분류하는 것이었다. 
# 범위와 이웃의 갯수를 고려해야 했다. 
# 실제값과 예측값 사이의 차이를 애러라고 부른다. 
# squared error를 해서 전부 더해서 평균을 구하는데 이것을 MSE(mene squared error)라고 한다.
# 더 나아가서 제곱근(루트)를 씌워서 RMSE(route mene squared error)로 사용하기도 한다.
# 실제값과 예측값이 얼마나 다른지를 나타내는 것들이다. 이 숫자들이 낮을수록 오류가 적다고 본다.
# 이게 regressor의 기본 동작 원리이다.
# 결측값을 대체할 경우에 많이 쓴다. 불어시험을 봤지만 입력자가 실수를 하거나 삭제하는 등 다른 값으로 대체해야하는데 이럴경우 knn regressor를 쓴다.
# 실제값과 예측값 사이의 차이를 가지고 평가하게 된다. 
# 가중평균은 거리가 가까울수록 더 크게 반영햐는 방식이다. 
# 가중평균은 각각의 거리의 역수를 취한다. 모두를 더한다. 거리가 1,2,3이면 1/1, 1/2, 1/3을 취급하는 것이다. 
# 이 역수를 전부 더한 값인 11/6을 거리역수라고 한다. 그리고 분자가 구하고자 하는 값, 분모는 거리의 역수로 하여 나눈다.

In [10]:
# knn regressor를 본격적으로 이용해보자.
import pandas as pd
import numpy as np

In [46]:
movie_dataset = pd.read_csv("title.basics.tsv",delimiter="\t") # tsv파일은 공백으로 구분이 된 파일들이다. 딜리미터를 이용하여 열어야 한다.
movie_dataset # 천만건의 데이터가 존재한다.

C:\Users\user\AppData\Local\Temp\ipykernel_10688\2553230274.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_dataset = pd.read_csv("title.basics.tsv",delimiter="\t") # tsv파일은 공백으로 구분이 된 파일들이다. 딜리미터를 이용하여 열어야 한다.

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10240753,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10240754,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10240755,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10240756,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10240757,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [47]:
movie_ratings=pd.read_csv("title.ratings.tsv", delimiter="\t")
movie_ratings # 영화의 평점들의 모임이다.

            tconst  averageRating  numVotes
0        tt0000001            5.7      2002
1        tt0000002            5.8       269
2        tt0000003            6.5      1892
3        tt0000004            5.5       178
4        tt0000005            6.2      2679
...            ...            ...       ...
1359874  tt9916730            7.6        11
1359875  tt9916766            7.0        22
1359876  tt9916778            7.2        36
1359877  tt9916840            8.8         6
1359878  tt9916880            8.2         6

[1359879 rows x 3 columns]

In [48]:
# 데이터가 너무 많기 때문에 일부만 작업하자. 
# 먼저 정보를 확인해보자.
movie_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10240758 entries, 0 to 10240757
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 703.2+ MB

In [49]:
movie_dataset['startYear'] # 연도를 추출해보자.

0           1894
1           1892
2           1892
3           1892
4           1893
            ...
10240753    2009
10240754    2010
10240755    2010
10240756    2015
10240757    2014
Name: startYear, Length: 10240758, dtype: object

In [50]:
movie_dataset=movie_dataset[:100]
movie_ratings=movie_ratings[:100]

In [51]:
movie_dataset = movie_dataset[['startYear','runtimeMinutes']]
movie_dataset

   startYear runtimeMinutes
0       1894              1
1       1892              5
2       1892              4
3       1892             12
4       1893              1
..       ...            ...
95      1896             \N
96      1896             \N
97      1896             \N
98      1896             \N
99      1896             \N

[100 rows x 2 columns]

In [52]:
movie_dataset.info()#둘다 오브젝트로 나온다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   startYear       100 non-null    object
 1   runtimeMinutes  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [53]:
movie_dataset.startYear.value_counts()#저장된 것이 문자형식으로 저장된 모양이다.

1896    67
1895    18
1894     6
1892     3
1897     3
1898     2
1893     1
Name: startYear, dtype: int64

In [54]:
movie_dataset.runtimeMinutes.value_counts()#아마 결측값이 N인 모양이다. 
# 모든 데이터타입을 정수로 변환해보자. 역슬래시n은 최빈수로인 1로 변경을 해보자.

\N    56
1     38
5      1
4      1
12     1
45     1
2      1
3      1
Name: runtimeMinutes, dtype: int64

In [42]:
movie_dataset=movie_dataset.runtimeMinutes.replace({'\\N':'1'})
movie_dataset.runtimeMinutes.astype('int64')

AttributeError: 'NoneType' object has no attribute 'runtimeMinutes'

In [55]:
movie_dataset['startYear'] = movie_dataset['startYear'].astype('int64')

movie_dataset['runtimeMinutes'] = movie_dataset['runtimeMinutes'].replace("\\N","1").astype('int64')

In [58]:
movie_dataset.info()#일단 잘 된다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   startYear       100 non-null    int64
 1   runtimeMinutes  100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB

In [60]:
movie_ratings #투표수, 별점등이 있다. 점수만 남기고 제거해보자.

       tconst  averageRating  numVotes
0   tt0000001            5.7      2002
1   tt0000002            5.8       269
2   tt0000003            6.5      1892
3   tt0000004            5.5       178
4   tt0000005            6.2      2679
..        ...            ...       ...
95  tt0000097            4.9        34
96  tt0000098            5.2        37
97  tt0000099            4.6        33
98  tt0000100            4.8        55
99  tt0000101            4.5        29

[100 rows x 3 columns]

In [61]:
movie_ratings = movie_ratings.averageRating
movie_ratings

0     5.7
1     5.8
2     6.5
3     5.5
4     6.2
     ...
95    4.9
96    5.2
97    4.6
98    4.8
99    4.5
Name: averageRating, Length: 100, dtype: float64

In [62]:
movie_dataset

    startYear  runtimeMinutes
0        1894               1
1        1892               5
2        1892               4
3        1892              12
4        1893               1
..        ...             ...
95       1896               1
96       1896               1
97       1896               1
98       1896               1
99       1896               1

[100 rows x 2 columns]

In [63]:
from sklearn.neighbors import KNeighborsRegressor

In [66]:
model = KNeighborsRegressor(n_neighbors=5, weights='distance')

model.fit(movie_dataset.movie_ratings)

In [67]:
model.fit(movie_dataset,movie_ratings)

KNeighborsRegressor(weights='distance')

In [68]:
model.predict([[1892,2],[2020,6],[1900,1]])
# 가까운 거리일수록 높은 가중치를 부여하여 확인한 결과이다.
# knn을 이용해서 문제를 해결하였다.

C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([5.96542182, 5.09853186, 5.025     ])

In [ ]:
# 숙제는 인디언 당뇨에 대한 정보 추출하기
# 암 분류기 569에서 1~400으로 훈련데이터로 하고 나머지로 테스트데이터로 사용하기.