In [2]:
# 1. 1부터 100,000까지 7이라는 숫자가 총 몇번 나오는가?
# 7이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 7이라는 숫자를 모두 카운팅 해야 한다.
# (※ 예를들어 77077은 4, 77777은 5로 카운팅 해야 함)

# 문제의 핵심은 10이라는 숫자에 7이 한번만 나온다는 것이다. 즉 7이 나오는 횟수는 10 기준 1회, 100 기준 10회 이런식으로 계산이 된다는 것이다.
# 1의 자리에 7이 들어가는 경우는 10000번이다. 70이 100000에 들어가는 횟수는7이 1만회에 들어가는 것과 같이 1000회이다.
# 답은 11111이 나오게 되는데 이 것을 코딩으로 풀어야 한다.
maxi = input("최대 숫자를 입력하세요")
danwi = input("한자리 숫자를 입력하세요")
counter = 0

for i in range(1,int(maxi)):
    basket = list(str(i))
    for j in range(len(basket)):
        if danwi  == basket[j] :
            counter += 1
print(counter)

최대 숫자를 입력하세요100000
한자리 숫자를 입력하세요7
50000

In [3]:
# 2. 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)
# 예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.
import numpy as np
import pandas as pd
S={1, 3, 4, 8, 13, 17, 20} 
s_list = sorted(list(S))
s_list1 = pd.Series(s_list[1:])
s_list2 = pd.Series(s_list[:-1])
answer2 = s_list1-s_list2
answer22 = s_list2[answer2.argmin()],s_list1[answer2.argmin()]
print(answer22)

(3, 4)

In [121]:
# 3. 주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.
# 이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌
# 1)김씨와 이씨는 각각 몇 명 인가요?
# 2)"이재영"이란 이름이 몇 번 반복되나요?
# 3)중복을 제거한 이름을 출력하세요.
# 4)중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.
import numpy as np
import pandas as pd

names = pd.DataFrame(input("문자열 입력").split(","))
#1번문제
print(names)
sung = names[0].map(lambda x : x[:1])
count_lee = (sung == "이").sum()
count_kim = (sung == "김").sum()
print("김씨",count_kim,"명","이씨",count_lee,"명")
#2번문제
count_leezae = (names == "이재영").sum()
print("이재영 반복횟수",count_leezae[0])
#3번문제 
uniques = names[0].unique()
print(uniques)
#4번문제 
print(sorted(uniques))

문자열 입력이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌
      0
0   이유덕
1   이재영
2   권종표
3   이재영
4   박민호
5   강상희
6   이재영
7   김지완
8   최승혁
9   이성연
10  박영서
11  박민호
12  전경헌
13  송정환
14  김재성
15  이유덕
16  전경헌
김씨 2 명 이씨 6 명
이재영 반복횟수 3
['이유덕' '이재영' '권종표' '박민호' '강상희' '김지완' '최승혁' '이성연' '박영서' '전경헌' '송정환' '김재성']
['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

In [123]:
# 4. 2023년도 삼성전자 주가데이터를 가져온 다음 아래와 같은 작업을 수행해보세요.
# 1) 각 열 단위로 최대값을 출력하시오.
# 2) 각 열 단위로 최소값을 출력하시오.
# 3) 각 열 단위로 최대값-최소값을 출력하시오.
# 4) 기술통계를 구하시오.
!pip install -U finance-datareader
import FinanceDataReader as fdr
samsung = fdr.DataReader("005930",'2023') 
samsung

Requirement already satisfied: finance-datareader in c:\users\user\anaconda3\lib\site-packages (0.9.50)
Requirement already satisfied: pandas>=0.19.2 in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (1.5.3)
Requirement already satisfied: requests>=2.3.0 in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (2.31.0)
Requirement already satisfied: requests-file in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: lxml in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (4.9.2)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from finance-datareader) (4.65.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2023.7.22)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from requests-file->finance-datareader) (1.16.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.6)

In [152]:
samsung = fdr.DataReader("005930",'2023') 
#1번 문제
print("최댓값")
for i in samsung.columns:
    seriri = pd.Series(i)
    print(seriri[0],max(samsung[seriri[0]]))
#2번 문제
print("최솟값")
for i in samsung.columns:
    seriri = pd.Series(i)
    print(seriri[0],min(samsung[seriri[0]]))
#3번 문제
print('최댓값과 최솟값의 차')
for i in samsung.columns:
    seriri = pd.Series(i)
    print(seriri[0],max(samsung[seriri[0]]) - min(samsung[seriri[0]]))
#4번 문제
samsung. describe()

최댓값
Open 73400
High 73600
Low 72900
Close 73400
Volume 30016221
Change 0.06128550074738426
최솟값
Open 55400
High 56000
Low 54500
Close 55400
Volume 5824628
Change -0.0363349131121643
최댓값과 최솟값의 차
Open 18000
High 17600
Low 18400
Close 18000
Volume 24191593
Change 0.09762041385954856

,Open,High,Low,Close,Volume,Change
count,174.000000,174.000000,174.000000,174.000000,1.740000e+02,174.000000
mean,66134.482759,66591.379310,65537.931034,66063.218391,1.352039e+07,0.001492
std,4401.821157,4392.213992,4360.681958,4378.603123,4.350531e+06,0.013923
min,55400.000000,56000.000000,54500.000000,55400.000000,5.824628e+06,-0.036335
25%,62700.000000,63000.000000,62025.000000,62375.000000,1.069394e+07,-0.006983
50%,65850.000000,66150.000000,65300.000000,65700.000000,1.243526e+07,0.001400
75%,70200.000000,70975.000000,69800.000000,70400.000000,1.495951e+07,0.007915
max,73400.000000,73600.000000,72900.000000,73400.000000,3.001622e+07,0.061286