In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('zoo/zoo.data',header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [15]:
df = pd.read_csv('zoo/zoo.data', header=None)                                            # 데이터 로드
index_columns = ['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne',          # 인덱스 이름 붙이기
                 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous',
                 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type']

df.columns = index_columns                                                              # 열 이름 할당하기

In [18]:
df.drop(['animal_name'],axis=1,inplace=True)                                            # 동물이름 드롭하기

In [19]:
df

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [40]:
df2= pd.DataFrame(np.tile(np.array(df),(5,1)))                                          # 동물이름 복사(np.tile 이용하여 복사)
df2.columns = index_columns[1:]                                                         # 동물 이름 제외하고 데이터이름 할당하기

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
501,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
502,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
503,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
504,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [81]:
df2.columns = index_columns[1:]                                                         # 동물 이름 제외하고 데이터이름 할당하기
legs = pd.get_dummies(df2['legs'],prefix='legs_num')                                    # 동물 다리개수 원 핫 인코딩 하기
legs = legs.astype('int')                                                               # 타입을 숫자로 하여 0,1로 구분하기
df3 = pd.concat([df2,legs],axis=1)                                                      # 열 방향으로 다리개수 합하기
df3.drop('legs',axis=1,inplace=True)                                                    # 다리 항목 드랍하기
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hair        505 non-null    int64
 1   feathers    505 non-null    int64
 2   eggs        505 non-null    int64
 3   milk        505 non-null    int64
 4   airborne    505 non-null    int64
 5   aquatic     505 non-null    int64
 6   predator    505 non-null    int64
 7   toothed     505 non-null    int64
 8   backbone    505 non-null    int64
 9   breathes    505 non-null    int64
 10  venomous    505 non-null    int64
 11  fins        505 non-null    int64
 12  tail        505 non-null    int64
 13  domestic    505 non-null    int64
 14  catsize     505 non-null    int64
 15  type        505 non-null    int64
 16  legs_num_0  505 non-null    int32
 17  legs_num_2  505 non-null    int32
 18  legs_num_4  505 non-null    int32
 19  legs_num_5  505 non-null    int32
 20  legs_num_6  505 non-null    int32
 21  legs_num_8  505 non-null    int32
dtypes: int32(6), int64(16)
memory usage: 75.1 KB

In [141]:
df3.drop('legs',axis=1,inplace=True)                                                    # 다리 항목 드랍하기
from sklearn.model_selection import train_test_split                                    # 훈련/테스트셋 분리

xtrain, xtest,ytrain, ytest=train_test_split(                                           # 트레인데이터, 테스트데이터 분리결과
    df3.drop(['type'],axis=1),df3.type,                                                 # 정답 데이터 드롭한것이 트레인, 정답 데이터는 답지
    test_size=0.3,random_state= 1122)                                                   # 테스트용으로는 30% 사용, 랜덤값은 1122로 고정  
ytest2 = ytest                                                                          # 별도로 테스트데이터 빼기

In [143]:
import tensorflow as tf                                                                 # 텐서플로 호출 

from tensorflow.keras.models import Sequential                                          # 케라스 모델 호출
from tensorflow.keras.layers import Dense                                               # dense호출

In [144]:
ytrain = tf.keras.utils.to_categorical(ytrain, num_classes=8)                           # 훈련답지 클래스 변경

In [145]:
xtrain

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,...,fins,tail,domestic,catsize,legs_num_0,legs_num_2,legs_num_4,legs_num_5,legs_num_6,legs_num_8
16,0,1,1,0,1,0,1,0,1,1,...,0,1,0,0,0,1,0,0,0,0
126,0,0,1,0,0,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
241,1,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
361,0,1,1,0,0,1,1,0,1,1,...,0,1,0,1,0,1,0,0,0,0
222,0,1,1,0,1,0,0,0,1,1,...,0,1,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,1,0,0,1,0,0,1,1,1,1,...,0,1,0,1,0,0,1,0,0,0
267,1,0,0,1,0,0,0,1,1,1,...,0,1,1,1,0,0,1,0,0,0
457,0,0,1,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
237,1,0,0,1,0,0,0,1,1,1,...,0,1,1,0,0,0,1,0,0,0
133,1,0,0,1,0,0,0,1,1,1,...,0,0,0,1,0,1,0,0,0,0

In [146]:
ytrain = tf.keras.utils.to_categorical(ytrain, num_classes=8)                           # 훈련답지 클래스 변경
model = tf.keras.Sequential()                                                           # 케라스 모델 제작
model.add(tf.keras.layers.Dense(64, input_shape=(21,)))                                 # 특징 21차원 할당.64차원 아웃풋
model.add(tf.keras.layers.Dense(64, activation='relu'))                                 # 렐루로 계산하기
model.add(tf.keras.layers.Dense(8, activation='softmax'))                               # 8차원 소프트맥스 출력
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 64)                1408

 dense_12 (Dense)            (None, 64)                4160

 dense_13 (Dense)            (None, 8)                 520

=================================================================
Total params: 6088 (23.78 KB)
Trainable params: 6088 (23.78 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [147]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3),                   # 모델 컴파일. 옵티마이저 아담
              loss='categorical_crossentropy',                                          # 다중 정답은 카테고리 교차엔트로피
              metrics=['accuracy'])                                                     # 정확도 기준

In [148]:
hist = model.fit(xtrain, ytrain, epochs=30, validation_split=0.3)                       # 에폭 30으로 테스트 시작

Epoch 1/30
8/8 [==============================] - 1s 19ms/step - loss: 1.7993 - accuracy: 0.4575 - val_loss: 1.5560 - val_accuracy: 0.6981
Epoch 2/30
8/8 [==============================] - 0s 6ms/step - loss: 1.3307 - accuracy: 0.7409 - val_loss: 1.1960 - val_accuracy: 0.7453
Epoch 3/30
8/8 [==============================] - 0s 5ms/step - loss: 1.0169 - accuracy: 0.7814 - val_loss: 0.9350 - val_accuracy: 0.8113
Epoch 4/30
8/8 [==============================] - 0s 5ms/step - loss: 0.7766 - accuracy: 0.8502 - val_loss: 0.7568 - val_accuracy: 0.8208
Epoch 5/30
8/8 [==============================] - 0s 5ms/step - loss: 0.6083 - accuracy: 0.9109 - val_loss: 0.6163 - val_accuracy: 0.8585
Epoch 6/30
8/8 [==============================] - 0s 5ms/step - loss: 0.4856 - accuracy: 0.9150 - val_loss: 0.5061 - val_accuracy: 0.8585
Epoch 7/30
8/8 [==============================] - 0s 4ms/step - loss: 0.3907 - accuracy: 0.9150 - val_loss: 0.4249 - val_accuracy: 0.8962
Epoch 8/30
8/8 [==============================] - 0s 4ms/step - loss: 0.3200 - accuracy: 0.9312 - val_loss: 0.3574 - val_accuracy: 0.9057
Epoch 9/30
8/8 [==============================] - 0s 4ms/step - loss: 0.2607 - accuracy: 0.9474 - val_loss: 0.3020 - val_accuracy: 0.9623
Epoch 10/30
8/8 [==============================] - 0s 5ms/step - loss: 0.2150 - accuracy: 0.9798 - val_loss: 0.2617 - val_accuracy: 0.9623
Epoch 11/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1796 - accuracy: 0.9798 - val_loss: 0.2260 - val_accuracy: 0.9623
Epoch 12/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1508 - accuracy: 0.9879 - val_loss: 0.1927 - val_accuracy: 0.9906
Epoch 13/30
8/8 [==============================] - 0s 5ms/step - loss: 0.1301 - accuracy: 0.9960 - val_loss: 0.1688 - val_accuracy: 0.9906
Epoch 14/30
8/8 [==============================] - 0s 6ms/step - loss: 0.1114 - accuracy: 0.9960 - val_loss: 0.1496 - val_accuracy: 0.9906
Epoch 15/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0977 - accuracy: 0.9960 - val_loss: 0.1322 - val_accuracy: 0.9906
Epoch 16/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0859 - accuracy: 0.9960 - val_loss: 0.1192 - val_accuracy: 0.9906
Epoch 17/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0778 - accuracy: 0.9960 - val_loss: 0.1084 - val_accuracy: 0.9906
Epoch 18/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0683 - accuracy: 0.9960 - val_loss: 0.0957 - val_accuracy: 0.9906
Epoch 19/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0619 - accuracy: 0.9960 - val_loss: 0.0867 - val_accuracy: 0.9906
Epoch 20/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0559 - accuracy: 0.9960 - val_loss: 0.0800 - val_accuracy: 0.9906
Epoch 21/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0509 - accuracy: 0.9960 - val_loss: 0.0716 - val_accuracy: 0.9906
Epoch 22/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0472 - accuracy: 0.9960 - val_loss: 0.0645 - val_accuracy: 0.9906
Epoch 23/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0425 - accuracy: 0.9960 - val_loss: 0.0597 - val_accuracy: 0.9906
Epoch 24/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0393 - accuracy: 0.9960 - val_loss: 0.0558 - val_accuracy: 0.9906
Epoch 25/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0364 - accuracy: 0.9960 - val_loss: 0.0525 - val_accuracy: 0.9906
Epoch 26/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0338 - accuracy: 0.9960 - val_loss: 0.0464 - val_accuracy: 0.9906
Epoch 27/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0313 - accuracy: 0.9960 - val_loss: 0.0430 - val_accuracy: 1.0000
Epoch 28/30
8/8 [==============================] - 0s 4ms/step - loss: 0.0290 - accuracy: 0.9960 - val_loss: 0.0410 - val_accuracy: 0.9906
Epoch 29/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0270 - accuracy: 1.0000 - val_loss: 0.0365 - val_accuracy: 1.0000
Epoch 30/30
8/8 [==============================] - 0s 5ms/step - loss: 0.0249 - accuracy: 1.0000 - val_loss: 0.0341 - val_accuracy: 1.0000

In [149]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3),                   # 모델 컴파일. 옵티마이저 아담
              loss='categorical_crossentropy',                                          # 다중 정답은 카테고리 교차엔트로피
              metrics=['accuracy'])                                                     # 정확도 기준
model.evaluate(xtest, ytest)                                                            # 모델평가

5/5 [==============================] - 0s 2ms/step - loss: 0.0402 - accuracy: 1.0000

[0.04017046093940735, 1.0]

In [150]:
import torch                                                                            # 파이토치 불러오기 
import torch.nn as nn                                                                   # 뉴럴네트워크 호출
import torch.nn.functional as F                                                         # 뉴럴네트워크 함수호출
import torch.optim as optim                                                             # 토치 옵티마이저 호출

In [151]:
torch.manual_seed(1122)

In [152]:
# 모델 및 데이터를 PyTorch Tensor로 변환

x_train_numpy = xtrain.values                                                           # 데이터프레임을 NumPy 배열로 변환
y_train_numpy = ytrain                                                                  # 데이터프레임을 NumPy 배열로 변환

x_train_tensor = torch.tensor(x_train_numpy, dtype=torch.float32)                       # NumPy 배열을 PyTorch Tensor로 변환
y_train_tensor = torch.tensor(y_train_numpy, dtype=torch.float32)                       # NumPy 배열을 PyTorch Tensor로 변환

model = torch.nn.Linear(21, 8)                                                          # 모델투입 21,8 투입
criterion = torch.nn.MSELoss()                                                          # mse를 손실함수로 지정
optimizer = torch.optim.SGD(model.parameters(), lr=0.01)                                # 옵티마이저 sgd로 지정

for epoch in range(2000):                                                               # 2000에폭 설정
    hx = model(x_train_tensor)                                                          # 모델에 훈련 데이터 투입
    cost = criterion(hx, y_train_tensor)                                                # 코스트 계산
    optimizer.zero_grad()                                                               # 옵티마이저 설정
    cost.backward()                                                                     # 확인필요 
    optimizer.step()                                                                    # 확인필요

    if epoch % 100 == 0:
        print(epoch, cost.item())                                                       # 100에폭마다 코스트 확인

0 0.195331871509552
100 0.10484964400529861
200 0.081271231174469
300 0.0682157650589943
400 0.05946143716573715
500 0.05324139446020126
600 0.04863087460398674
700 0.04507627710700035
800 0.04223611578345299
900 0.03989562392234802
1000 0.037916865199804306
1100 0.03620905429124832
1200 0.03471078351140022
1300 0.03337925300002098
1400 0.0321836955845356
1500 0.031101318076252937
1600 0.030114738270640373
1700 0.029210330918431282
1800 0.028377214446663857
1900 0.027606485411524773

In [153]:
list(model.parameters())

[Parameter containing:
 tensor([[ 1.3831e-01, -8.8245e-02,  2.1404e-02, -1.3858e-01, -5.9170e-02,
           8.1588e-02, -8.8657e-02, -5.7825e-02, -4.3824e-02,  1.5286e-01,
          -1.3269e-01,  8.7236e-02,  1.0779e-01, -1.0753e-01, -2.7788e-02,
          -1.0777e-02, -1.9561e-02, -1.1584e-02, -1.2012e-01, -3.8074e-02,
           1.3978e-01],
         [ 3.1316e-01, -2.0257e-02, -1.9060e-01,  2.3652e-01,  1.1617e-02,
          -7.2867e-02, -2.1679e-02,  2.3709e-01,  1.2569e-01, -9.4145e-02,
           9.7051e-02, -1.4015e-01, -7.6430e-04, -5.3032e-02,  1.3453e-01,
           1.0197e-02,  8.9230e-02,  1.0751e-02,  2.1883e-02, -9.7878e-03,
          -5.5344e-02],
         [-1.6862e-01,  4.0649e-02,  1.5073e-01,  6.7467e-02,  1.0283e-01,
           4.6655e-02, -4.9584e-02, -2.1722e-01,  1.3835e-01,  9.1967e-03,
           3.4187e-02, -1.4267e-01,  2.3691e-01, -1.1710e-01, -4.5313e-02,
          -1.0974e-01,  3.4378e-01,  5.0803e-02, -1.7518e-01, -7.0503e-02,
           9.4518e-02],
         [-2.2751e-01, -9.7400e-02,  5.0472e-02, -5.5908e-02,  2.9415e-02,
          -1.3138e-01, -3.9859e-02,  1.4624e-01,  1.1032e-01,  1.1041e-01,
           6.8444e-03, -2.0040e-01, -6.1689e-02, -2.9339e-02,  7.0808e-02,
           1.1483e-01, -1.4126e-01, -7.4862e-02, -1.2095e-01,  2.3531e-02,
          -3.1498e-02],
         [ 1.1924e-01, -7.5925e-02,  2.0900e-01, -2.0916e-01, -1.8419e-01,
           9.2776e-02, -7.6715e-02,  1.4550e-01,  1.1339e-02, -1.0293e-01,
          -6.9494e-02,  3.9182e-01,  3.6327e-02,  1.3288e-02, -2.1490e-03,
           2.1959e-02,  1.2440e-01,  4.2353e-02, -1.8128e-01,  3.8857e-04,
           5.9366e-02],
         [-3.3619e-02,  9.0041e-02, -3.6153e-02, -1.0801e-01, -1.3347e-01,
           1.0139e-01, -5.9556e-02,  6.1700e-02, -9.8553e-02,  9.1987e-02,
          -3.8405e-02, -1.4662e-01,  5.6569e-02, -1.5141e-01, -1.0492e-02,
          -3.1724e-02, -8.8682e-02, -7.5163e-03,  1.9797e-01, -8.7013e-02,
          -8.6697e-02],
         [ 1.9219e-01,  5.1795e-02,  5.5178e-02, -1.5318e-01,  4.7545e-02,
          -1.8985e-02,  1.8332e-02,  4.7590e-02, -1.1988e-01,  4.2823e-02,
           2.3138e-02, -2.0076e-02, -9.9344e-02, -3.5273e-02,  6.1522e-02,
          -6.2227e-03,  1.6492e-02, -2.5161e-02, -1.5156e-01,  3.3140e-01,
          -9.3368e-02],
         [-6.8669e-02,  1.4930e-01,  2.0425e-01,  1.7559e-01, -8.0395e-02,
          -5.2738e-02,  9.1391e-02, -1.7883e-01, -8.2016e-02, -1.4459e-02,
           4.4759e-02,  4.8640e-03, -2.1737e-01, -7.5051e-02,  5.2708e-02,
           1.3970e-01, -1.4624e-01,  9.3389e-02,  1.6989e-01, -1.0746e-01,
          -8.0037e-02]], requires_grad=True),
 Parameter containing:
 tensor([-0.0583,  0.0943, -0.0510,  0.0504, -0.0450,  0.1543,  0.0633,  0.1868],
        requires_grad=True)]

In [157]:

        print(epoch, cost.item())                                                       # 100에폭마다 코스트 확인

In [158]:
# 모델을 평가 모드로 전환
model.eval()

# 평가 데이터에 대한 예측
with torch.no_grad():
    y_pred = model(x_test_tensor)

# 손실 계산 (예시로 MSE 손실 사용)
criterion = torch.nn.MSELoss()
eval_loss = criterion(y_pred, y_test_tensor)

# 모델 평가 결과 출력
print("Evaluation Loss:", eval_loss.item())

Evaluation Loss: 0.026484521105885506

In [173]:
# 모델을 평가 모드로 전환
model.eval()

# 평가 데이터에 대한 예측
with torch.no_grad():
    y_pred = model(x_test_tensor)

# 예측된 클래스 얻기
_, predicted = torch.max(y_pred, 1)

answer_tensor = torch.tensor(list(ytest2))
answer_count = 0
for i in range(len(predicted)):
    if predicted[i] == answer_tensor[i]:
        answer_count +=1

accuracy = answer_count / len(predicted)

# 모델 정확도 출력
print("Accuracy:", accuracy)

Accuracy: 0.9078947368421053

In [170]:
torch.tensor(list(ytest2))

tensor([3, 4, 1, 4, 1, 2, 2, 4, 1, 2, 7, 2, 6, 6, 1, 1, 3, 6, 7, 5, 5, 1, 1, 1,
        1, 6, 1, 5, 2, 4, 1, 5, 7, 6, 2, 6, 4, 1, 1, 6, 4, 1, 4, 1, 2, 2, 1, 2,
        1, 5, 1, 1, 2, 2, 4, 1, 1, 7, 1, 4, 3, 1, 1, 1, 2, 1, 6, 2, 1, 2, 1, 1,
        6, 1, 1, 1, 6, 1, 1, 3, 6, 7, 1, 1, 4, 3, 5, 7, 1, 2, 1, 2, 4, 4, 3, 1,
        1, 1, 2, 6, 4, 1, 4, 1, 2, 1, 3, 2, 3, 1, 2, 6, 7, 2, 7, 1, 2, 1, 1, 1,
        1, 7, 7, 4, 1, 7, 2, 1, 1, 2, 7, 4, 2, 1, 1, 1, 4, 4, 2, 1, 3, 2, 2, 1,
        2, 2, 1, 2, 2, 1, 5, 2])

In [171]:
predicted

tensor([4, 4, 1, 4, 1, 2, 2, 4, 1, 2, 7, 2, 6, 6, 1, 1, 2, 6, 3, 1, 5, 1, 1, 1,
        1, 6, 1, 5, 2, 4, 1, 1, 7, 6, 2, 6, 4, 1, 1, 6, 4, 1, 4, 1, 2, 2, 1, 2,
        1, 1, 1, 1, 2, 2, 4, 1, 1, 7, 1, 4, 4, 1, 1, 1, 2, 1, 6, 2, 1, 2, 1, 1,
        6, 1, 1, 1, 6, 1, 1, 4, 6, 7, 1, 1, 4, 4, 5, 7, 1, 2, 1, 2, 4, 4, 4, 1,
        1, 1, 2, 6, 4, 1, 4, 1, 2, 1, 4, 2, 4, 1, 2, 6, 7, 2, 7, 1, 2, 1, 1, 1,
        1, 7, 7, 4, 1, 7, 2, 1, 1, 2, 7, 4, 2, 1, 1, 1, 4, 4, 2, 1, 4, 2, 2, 1,
        2, 2, 1, 2, 2, 1, 5, 2])