In [1]:
# 소득 훈련파일 호출
import numpy as np
import pandas as pd

soduk = pd.read_csv('train.csv')
soduk

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,...,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,...,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TRAIN_19995,33,M,High graduate,Children or Armed Forces,52,Manufacturing (Durable),Handlers/Cleaners,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,1300
19996,TRAIN_19996,20,F,College,Full-Time,12,Education,Admin Support (include Clerical),White,Mexican-American,...,Native,US,Mexico,Mexico,Nonfiler,0,0,0,Under Median,850
19997,TRAIN_19997,22,M,College,Children or Armed Forces,52,Transportation,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Unknown,999
19998,TRAIN_19998,76,F,High graduate,Not Working,0,Not in universe or children,Unknown,White,All other,...,Native,US,Scotland,England,Single,0,0,0,Under Median,0
19999,TRAIN_19999,41,F,High graduate,Children or Armed Forces,52,Public Administration,Admin Support (include Clerical),White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Under Median,671

In [2]:
soduk.info()
# 1. 겉으로 보이는 결측값은 존재하지 않는다. 
# 2. 각각의 요소가 어떤것을 나타내는지 확인하는것이 필요하다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      20000 non-null  object
 1   Age                     20000 non-null  int64
 2   Gender                  20000 non-null  object
 3   Education_Status        20000 non-null  object
 4   Employment_Status       20000 non-null  object
 5   Working_Week (Yearly)   20000 non-null  int64
 6   Industry_Status         20000 non-null  object
 7   Occupation_Status       20000 non-null  object
 8   Race                    20000 non-null  object
 9   Hispanic_Origin         20000 non-null  object
 10  Martial_Status          20000 non-null  object
 11  Household_Status        20000 non-null  object
 12  Household_Summary       20000 non-null  object
 13  Citizenship             20000 non-null  object
 14  Birth_Country           20000 non-null  object
 15  Birth_Country (Father)  20000 non-null  object
 16  Birth_Country (Mother)  20000 non-null  object
 17  Tax_Status              20000 non-null  object
 18  Gains                   20000 non-null  int64
 19  Losses                  20000 non-null  int64
 20  Dividends               20000 non-null  int64
 21  Income_Status           20000 non-null  object
 22  Income                  20000 non-null  int64
dtypes: int64(6), object(17)
memory usage: 3.5+ MB

In [3]:
print(min(soduk['Age']))
print(max(soduk['Age']))
soduk.value_counts('Age')
# 나이칸의 길이는 0부터 90까지 총 91개의 칸으로 이루어져있다.

0
90

Age
37    476
35    475
24    473
33    467
31    466
     ...
84     20
85     16
87     11
89     10
88      9
Name: count, Length: 91, dtype: int64

In [4]:
soduk.value_counts('Gender')
# 남성은 10472명이고 여성은 9528명이다.

Gender
F    10472
M     9528
Name: count, dtype: int64

In [5]:
soduk.value_counts('Education_Status')
# 여기서 미국 학제는 1학년부터 12학년까지 있다는 것을 알아둘 필요가 있다.
# 한국은 초등학교 1-6, 중학교 1-3, 고등학교 1-3까지 있는게 일반적이다.
# 미국의 고등학교는 1학년(freshman), 2학년(junior), 3학년(senior)로 나뉜다. 
# 미국의 대학은 1학년 1학년(freshman), 2학년 (sophomore), 3학년 (junior), 
# 4학년 (senior)을 거치게 된다.  
# 문제는 여기에 7-8학년은 있는데 9학년(한국의 중3)이 존재하지 않는다.
# 여기서 High가 붙으면 고등학교를 나타내는데 고등학교가 4학년이 아니다.
# 중 3을 fresh로 기준하고 분류하면 다음과 같이 분류가 가능하다.

# 교육수준은 고졸, 대학, 어린이, 4년제 학사, 고2, 고1, 준학사(직업), 준학사(학술),
# 중3, 중1-2, 석사, 초등5-6, 고3,  초등1-4, 전문학위, 박사학위, 유치원
# 다음과 같이 분류된다.

Education_Status
High graduate                     6494
College                           3794
Children                          2208
Bachelors degree                  1956
High Junior                        820
High Sophomore                     799
Associates degree (Vocational)     741
Associates degree (Academic)       609
High Freshman                      555
Middle (7-8)                       548
Masters degree                     505
Elementary (5-6)                   317
High Senior                        242
Elementary (1-4)                   150
Professional degree                111
Doctorate degree                    87
Kindergarten                        64
Name: count, dtype: int64

In [6]:
soduk.value_counts('Employment_Status')
# 고용상태에 대한 분류
# 미국은 고용을 정규직, 비정규직으로 분류하지 않는다. 풀타임과 파트타임으로 구분한다.
# 전일제, 시간제로 불리며 여기서는 편의적으로 정규직을 전일제로 기준한다.

# 아이들 또는 군인, 정규직(전일제), 무직, 선택파트타임, 시간제 노동자, 정규직 구직, 
# 전일제 노동자, 시간제 구직

Employment_Status
Children or Armed Forces         11142
Full-Time                         6588
Not Working                       1221
Choice Part-Time                   593
Part-Time (Usually Part-Time)      158
Seeking Full-Time                  121
Part-Time (Usually Full-Time)      100
Seeking Part-Time                   77
Name: count, dtype: int64

In [7]:
soduk.value_counts('Working_Week (Yearly)')
# 주 노동량
# 52주는 1년 내내 일한 것을 말한다. 그리고 0은 아예 일을 하지 않은 것을 말한다.

Working_Week (Yearly)
52    10613
0      4720
40      440
50      363
48      313
26      283
20      213
12      209
30      207
36      181
32      139
44      138
16      134
51      134
8       129
49      117
35      115
24      105
46       97
45       95
42       94
39       87
28       79
4        78
10       67
25       63
43       58
38       57
6        55
13       54
15       48
18       46
22       45
47       43
2        41
1        34
14       34
5        32
3        32
17       30
7        28
34       23
9        23
37       20
41       13
19       13
27       12
11       10
21        9
23        8
29        8
31        6
33        5
Name: count, dtype: int64

In [8]:
soduk.value_counts('Industry_Status')
# 산업 고용분포를 나타낸다. 
# 경제활동 안하거나 어린이, 소매업, 제조업-내구재, 제조업-비내구재, 교육업
# 비즈니스와 수리, 의료(병원제외), 건설산업, 병원, 금융보험부동산, 교통산업,
# 공공행정산업, 기타 전문서비스, 도매업, 개인서비스, 복지서비스, 엔터테인먼트,
# 농업, 공공시설 및 위생, 통신, 가정내 서비스, 광업, 임업과 어업, 군사 

# 상당히 많은 분야를 가진다. 여기서 분야별로 소득의 격차가 클 것을 알 수 있다.

Industry_Status
Not in universe or children                     4688
Retail                                          3149
Manufacturing (Durable)                         1575
Manufacturing (Non-durable)                     1223
Education                                       1041
Business & Repair                                847
Medical (except Hospitals)                       838
Construction                                     832
Hospitals                                        821
Finance Insurance & Real Estate                  727
Transportation                                   693
Public Administration                            641
Other professional services                      477
Wholesale                                        450
Personal Services (except Private Household)     429
Social Services                                  367
Entertainment                                    278
Agriculture                                      268
Utilities & Sanitary                             202
Communications                                   195
Private Household Services                       125
Mining                                           107
Forestry & Fisheries                              26
Armed Forces                                       1
Name: count, dtype: int64

In [9]:
soduk.value_counts('Occupation_Status')
# 직업 상태를 말한다. 
# 미분류, 행정지원, 서비스, 제작수리, 판매, 전문직, 기계조작, 관리직, 취급 및 청소,
# 운송직업, 기술 지원, 농업, 치안서비스, 가정 내 서비스, 군사

Occupation_Status
Unknown                             4688
Admin Support (include Clerical)    2709
Services                            2313
Craft & Repair                      1869
Sales                               1692
Professional                        1488
Machine Operators & Inspectors      1383
Management                          1111
Handlers/Cleaners                    837
Transportation                       690
Technicians & Support                558
Farming & Forestry & Fishing         296
Protective Services                  260
Private Household Services           105
Armed Forces                           1
Name: count, dtype: int64

In [10]:
soduk.value_counts('Race')
# 인종을 말한다.
# 백인, 흑인, 아시아/태평양, 기타, 아메리카 원주민으로 분류된다.

Race
White                           16845
Black                            2122
Asian/Pacific                     511
Other                             296
Native American/Aleut/Eskimo      226
Name: count, dtype: int64

In [11]:
soduk.value_counts('Hispanic_Origin')
# 히스패닉 기원을 말한다. 라틴계 사람들은 일반적으로 스페인어를 사용한다. 
# 히스패닉 아님, 맥시코계 미국인, 멕시코인, 남미출신, 푸에르토 리코, 타 스페인권,
# 쿠바인, 불명, 강성 멕시코계 미국인, 모름
#

Hispanic_Origin
 All other                    17769
 Mexican-American               654
 Mexican (Mexicano)             624
 Central or South American      325
 Puerto Rican                   243
 Other Spanish                  201
 Cuban                           76
 NA                              59
 Chicano                         27
 Do not know                     22
Name: count, dtype: int64

In [12]:
soduk.value_counts('Martial_Status')
# 결혼 상태
# 결혼, 싱글, 이혼상태, 사별, 별거, 기러기, 군복무 기러기

Martial_Status
Married                         9554
Single                          7380
Divorced                        1633
Widowed                          756
Separated                        436
Married (Spouse Absent)          171
Married (Armed Force Spouse)      70
Name: count, dtype: int64

In [13]:
soduk.value_counts('Household_Status')
# 가구 지위를 말하며 매우 복잡하다.
# 가장, 가장의 배우자, 미혼 청소년, 1인가구, 캥거루족, 비 가족인원, 친척거주등등..
# 더 알면 크루세이더 킹즈니까 대략적인 부분에 집중하자. 어떻게 사는지가 연봉에 영향을
# 주는지는 의문이니까 말이다.

Household_Status
Householder                                                               6087
Spouse of householder                                                     4794
Child <18 never marr not in subfamily                                     2670
Nonfamily householder                                                     2465
Child 18+ never marr Not in a subfamily                                   1860
Secondary individual                                                       845
Other Rel 18+ never marr not in subfamily                                  195
Other Rel 18+ ever marr not in subfamily                                   154
Child 18+ ever marr Not in a subfamily                                     118
Child 18+ ever married Responsible Person of subfamily                     101
Child 18+ never married Responsible Person of subfamily                     96
Grandchild <18 never married child of subfamily Responsible Person          88
Responsible Person of unrelated subfamily                                   87
Other Relative 18+ ever married Responsible Person of subfamily             77
Other Relative 18+ spouse of subfamily Responsible Person                   73
Grandchild 18+ never marr not in subfamily                                  63
Grandchild <18 never marr not in subfamily                                  43
Child under 18 of Responsible Person of unrelated subfamily                 39
Other Rel <18 never marr not in subfamily                                   36
Other Relative <18 never married child of subfamily Responsible Person      27
In group quarters                                                           26
Other Relative 18+ never married Responsible Person of subfamily            19
Child 18+ spouse of subfamily Responsible Person                            16
Child <18 never married Responsible Person of subfamily                      8
Child <18 ever marr not in subfamily                                         3
Grandchild 18+ ever marr not in subfamily                                    3
Spouse of Responsible Person of unrelated subfamily                          3
Child <18 ever married Responsible Person of subfamily                       1
Other Relative <18 ever married Responsible Person of subfamily              1
Grandchild 18+ spouse of subfamily Responsible Person                        1
Grandchild 18+ ever married Responsible Person of subfamily                  1
Name: count, dtype: int64

In [14]:
soduk.value_counts('Household_Summary')
# 가구구성 간략화. 사실 이걸 써야할 거 같다. 
# 가장, 가장의 배우자, 18세 미만, 캥거루족, 혈연x, 기타친척, 집단거주시설, 리틀맘

Household_Summary
Householder                             8552
Spouse of householder                   4794
Child under 18 never married            2679
Child 18 or older                       2192
Nonrelative of householder               974
Other relative of householder            781
Group Quarters- Secondary individual      24
Child under 18 ever married                4
Name: count, dtype: int64

In [15]:
soduk.value_counts('Citizenship')
# 시민권을 말한다. 
# 본토인, 미귀화자 , 미국 귀화자, 해외탄생 미국인자녀, 푸에르토리코 출신
# 푸에르토리코의 국민은 미국 시민으로 간주된다.

Citizenship
Native                                         17825
Foreign-born (Non-US Citizen)                   1258
Foreign-born (Naturalized US Citizen)            588
Native (Born Abroad)                             197
Native (Born in Puerto Rico or US Outlying)      132
Name: count, dtype: int64

In [16]:
soduk.value_counts('Birth_Country')
# 출생지를 말한다. 다만 이것은 작업을 너무 복잡하게 만든다.
# 나중에 북미, 남미, 유럽, 아시아, 아프리카,  오세아니아 등으로 나누자.
# 같은 원리로 부계, 모계도 별도로 분리하자.

Birth_Country
US                              17825
Mexico                            540
Unknown                           330
Puerto-Rico                       117
Philippines                       112
Germany                            90
Canada                             75
El-Salvador                        68
Cuba                               58
India                              55
Dominican-Republic                 49
England                            47
Poland                             45
Jamaica                            45
Columbia                           36
Italy                              35
South Korea                        31
Vietnam                            31
Ecuador                            31
Japan                              30
Portugal                           29
Nicaragua                          28
China                              28
Guatemala                          28
Haiti                              25
Iran                               24
Peru                               22
Ireland                            21
Hong Kong                          16
Outlying-U S (Guam USVI etc)       15
France                             14
Honduras                           14
Greece                             13
Laos                               11
Taiwan                             11
Thailand                           10
Trinadad&Tobago                     8
Cambodia                            8
Scotland                            7
Yugoslavia                          7
Panama                              4
Hungary                             4
Holand-Netherlands                  3
Name: count, dtype: int64

In [17]:
soduk.value_counts('Tax_Status')
# 세금 보고서를 말한다.
# 65세 미만 부부, 미혼, 미보고, 한부모가족, 65세 이상 부부, 한쪽만 65세 이상
# 세금공제혜택에 따라 분류된 듯 하다.

Tax_Status
Married Filling Jointly both under 65 (MFJ)                 8588
Single                                                      5547
Nonfiler                                                    3874
Head of Household (HOH)                                     1217
Married Filling Jointly both over 65 (MFJ)                   469
Married Filling Jointly one over 65 & one under 65 (MFJ)     305
Name: count, dtype: int64

In [18]:
soduk.value_counts('Gains')
# 알 수 없는 자료. 이상치는 800건 이하

Gains
0        19217
7298        73
15024       60
7688        54
5178        35
         ...
1848         1
2009         1
4508         1
3887         1
3456         1
Name: count, Length: 106, dtype: int64

In [19]:
soduk.value_counts('Losses')
# 알 수 없는 자료. 이상치는 450건 이하
# 개인적으로 이 자료들은 함정이라고 판단중

Losses
0       19568
1902       43
1887       41
1977       35
1602       26
        ...
1617        1
2231        1
1539        1
1340        1
1825        1
Name: count, Length: 86, dtype: int64

In [20]:
soduk.value_counts('Dividends')
# 배당금. 주식이나 펀드등으로 배당금을 말한다. 
# 재밌는 점은 배당에 Income이 영향을 크게 주지 않아보인다.

Dividends
0        17928
100        134
500         86
50          86
1000        86
         ...
430          1
428          1
424          1
411          1
45000        1
Name: count, Length: 420, dtype: int64

In [21]:
soduk.value_counts('Income_Status')
# 소득수준. 3개로 나뉜다.
# 저소득, 모름, 고소득으로 분류된다.

Income_Status
Under Median    13237
Unknown          6026
Over Median       737
Name: count, dtype: int64

In [22]:
soduk.value_counts('Income')
# 소득. 답지 부분을 나타낸다.
# 다행스럽게도 100의 배수로 나눠떨어지는 경우가 많아보인다.

Income
0       8697
500      743
700      550
600      547
800      526
        ...
1265       1
1266       1
1267       1
1268       1
9999       1
Name: count, Length: 1228, dtype: int64

In [25]:
# 여기서 income의 답지부분이 100의 배수로 얼마나 나눠떨어지는지 알아보자.
stack = 0
tester = soduk['Income']
for i in tester:
    if i % 100 == 0:
        stack += 1
print(stack)
# 약 14000건 정도가 100의 배수로 나눠떨어지는 경우는 69%이다.

13875

In [26]:
stack = 0
tester = soduk['Income']
for i in tester:
    if i % 50 == 0:
        stack += 1
print(stack)
# 50의 배수일 확률은 77%이다.

15422

In [27]:
stack = 0
tester = soduk['Income']
for i in tester:
    if i % 10 == 0:
        stack += 1
print(stack)
# 10의 배수일 확률은 82%이다.

16319

In [28]:
stack = 0
tester = soduk['Income']
for i in tester:
    if i % 5 == 0:
        stack += 1
print(stack)
# 92%의 확률로 5의 배수라는 뜻이다. 즉 대부분의 소득보고는 5의 배수 단위로 
# 이루어지는 것이 보편적이라는 이야기이다.

18426

In [ ]:
# 이제 전략을 짜도록 하자. 다음과 같은 전략으로 움직일 것이다.
# 1. 카테고리 축약 : 원핫 인코딩을 하거나 분석 목적에 맞게 축약을 하는 것이다. 
# 너무 많은 카테고리는 연구속도를 늦춘다. 보편적인 수준으로 압축을 시켜보자.
# 2. 사용자료 축약 : 연관성 분석을 통해 사용가능한 자료를 파악하자. 
# 3. 답안 제출방식을 2중으로 설정 : 먼저 소득이 0인 사람을 먼저 추정하자. 그리고
# 소득이 0 이상인 사람을 측정하는 방향으로 전략을 편성하자.